<div id="shopify-section-template--22749976822089__ss_comparison_table_15_njzgAX" class="shopify-section">
  <style data-shopify="">
    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.3a4d2cb0a9fa3a1839e9014dfcf4964f2654ec02.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2c9377bcf536de67484790e1134009f5b11ac358724f3f9722abe7d6751efcbc") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.0bfc779b9f10ebb598422909b6a00ea321d54d9b.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=0fa27d1d76ae708aa14d4d79e47e42a524e69bd3135c6b4e1e22ccb980695a1e") format("woff");
    }

    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.3a4d2cb0a9fa3a1839e9014dfcf4964f2654ec02.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2c9377bcf536de67484790e1134009f5b11ac358724f3f9722abe7d6751efcbc") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.0bfc779b9f10ebb598422909b6a00ea321d54d9b.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=0fa27d1d76ae708aa14d4d79e47e42a524e69bd3135c6b4e1e22ccb980695a1e") format("woff");
    }

    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.3a4d2cb0a9fa3a1839e9014dfcf4964f2654ec02.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2c9377bcf536de67484790e1134009f5b11ac358724f3f9722abe7d6751efcbc") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.0bfc779b9f10ebb598422909b6a00ea321d54d9b.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=0fa27d1d76ae708aa14d4d79e47e42a524e69bd3135c6b4e1e22ccb980695a1e") format("woff");
    }

    @font-face {
      font-family: Assistant;
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/assistant/assistant_n4.bcd3d09dcb631dec5544b8fb7b154ff234a44630.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=bf50a62f71d3f92bc2df1b746b250b771049ec84e52f2d94e7848d295a65f675") format("woff2"),
        url("//section.store/cdn/fonts/assistant/assistant_n4.a2d012304becc2a26f1ded1acc136fcab85c9afd.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1f85b2cb32cb2fa6d03b7fb96f811ec6a0479e2d3bd5b0c49548dea2f30312ab") format("woff");
    }

    @font-face {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1081bc13bac779d73b77022741d8b8608aa5451af6a05907fc023625940c00f1") format("woff2"),
        url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3f19a3e11bab2423756ce410220df09957f15affd53a78fa0ec435e5660aa636") format("woff");
    }


    .section-template--22749976822089__ss_comparison_table_15_njzgAX {
      border-top: solid #000000 0px;
      border-bottom: solid #000000 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
      overflow: hidden;
    }

    .section-template--22749976822089__ss_comparison_table_15_njzgAX-settings {
      margin: 0 auto;
      padding-top: 54px;
      padding-bottom: 54px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .comparison-heading-template--22749976822089__ss_comparison_table_15_njzgAX {
      text-align: center;
    }

    .comparison-heading-template--22749976822089__ss_comparison_table_15_njzgAX * {
      margin: 0;
      font-size: 28px;
      color: #121212;
      line-height: 130%;
      text-transform: unset;
      display: block;
      width: 100%;
    }

    .comparison-layout-template--22749976822089__ss_comparison_table_15_njzgAX {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 42px;
    }

    .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX {
      grid-area: video;
      overflow: hidden;
      border-radius: 12px;
      border: 0px solid #000000;
      position: relative;
    }

    .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX video,
    .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX iframe,
    .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX img,
    .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: none;
      border: 0px;
    }

    .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX svg {
      background-color: #AFAFAF;
    }

    .comparison-table-template--22749976822089__ss_comparison_table_15_njzgAX {
      grid-area: table;
      padding: 8px 8px;
      border-radius: 12px;
      background-color: #FFFFFF;
    }

    .comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX {
      display: grid;
      grid-template-columns: 40% 30% 30%;
    }

    .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX:first-child {
      flex-direction: row;
      gap: 20px;
    }

    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX {
      padding: 12px 4px;
    }

    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active {
      background-color: #E7D9CD;
      position: relative;
      border-left: 0px solid #121212;
      border-right: 0px solid #121212;
    }

    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active:before {
      content: '';
      position: absolute;
      left: -0px;
      top: calc((8px + 10px) * -1);
      display: block;
      width: calc(100% + 0px);
      height: 18px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: #E7D9CD;
      border: 0px solid #121212;
      border-bottom: 0px;
    }

    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX h3 {
      margin: 0;
      font-size: 16px;
      color: #121212;
      line-height: 130%;
      text-transform: unset;
      text-align: center;
      display: block;
      width: 100%;
      font-weight: 700;
    }

    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active h3 {
      color: #121212;
    }

    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX img {
      display: block;
      width: 90px;
      height: 100%;
      object-fit: contain;
    }

    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX {
      padding: 12px 4px;
    }

    .comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX:not(:last-child) .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX {
      border-bottom: 1px solid #D5C3B5;
    }

    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active {
      background-color: #E7D9CD;
    }

    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active {
      border-left: 0px solid #121212;
      border-right: 0px solid #121212;
    }

    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX:last-child .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active {
      position: relative;
    }

    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX:last-child .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active:before {
      content: '';
      background-color: #E7D9CD;
      position: absolute;
      left: -0px;
      top: 100%;
      display: block;
      width: calc(100% + 0px);
      height: 18px;
      border: 0px solid #121212;
      border-top: 0px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    .comparison-item-heading-image-template--22749976822089__ss_comparison_table_15_njzgAX {
      width: 40px;
      height: 40px;
    }

    .comparison-item-heading-image-template--22749976822089__ss_comparison_table_15_njzgAX img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX:first-child h3 {
      margin: 0;
      font-size: 16px;
      color: #121212;
      line-height: 130%;
      text-transform: unset;
      text-align: center;
      display: block;
      width: 100%;
      font-weight: 700;
    }

    .comparison-item-text-template--22749976822089__ss_comparison_table_15_njzgAX {
      margin: 0;
      font-size: 12px;
      color: #121212;
      line-height: 130%;
      text-transform: unset;
      text-align: center;
      display: block;
      width: 100%;
      font-weight: 700;
    }

    .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active .comparison-item-text-template--22749976822089__ss_comparison_table_15_njzgAX {
      color: #121212;
    }

    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: fit-content;
      gap: 10px;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      margin-top: 32px;
      font-size: 14px;
      color: black;
      line-height: 100%;
      text-align: center;
      text-transform: unset;
      text-decoration: none;
      padding: 18px 32px;
      border-radius: 100px;
      transition: all 0.25s ease 0s;
      background-color: transparent;
      border: 0px;
      cursor: pointer;
      font-weight: 700;
    }

    .comparison-button-inner-template--22749976822089__ss_comparison_table_15_njzgAX {
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX:hover {
      color: black;
      transition: all 0.25s ease 0s;
    }

    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX svg {
      width: 14px;
      height: 14px;
    }

    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX svg path {
      fill: #ffffff;
      transition: all 0.25s ease 0s;
    }

    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX:hover svg path {
      fill: black;
      transition: all 0.25s ease 0s;
    }

    .comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX {
      flex-shrink: 0;
      width: 28px;
      height: 28px;
    }

    .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active .comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX {
      width: 38px;
      height: 38px;
    }

    .comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX img,
    .comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX circle,
    .comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX path {
      fill: #FBFAF6;
    }

    .comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX polygon {
      fill: #A29582
    }

    .comparison-no-icon-template--22749976822089__ss_comparison_table_15_njzgAX path {
      stroke: #e6a918
    }

    @media(min-width: 1024px) {

      .section-template--22749976822089__ss_comparison_table_15_njzgAX {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0rem;
        margin-right: 0rem;
        border-radius: px;
      }

      .section-template--22749976822089__ss_comparison_table_15_njzgAX-settings {
        padding: 0 5rem;
        padding-top: 72px;
        padding-bottom: 72px;
        padding-left: 5rem;
        padding-right: 5rem;
      }

      .comparison-heading-template--22749976822089__ss_comparison_table_15_njzgAX {
        text-align: center;
      }

      .comparison-heading-template--22749976822089__ss_comparison_table_15_njzgAX * {
        font-size: 48px;
      }

      .comparison-layout-template--22749976822089__ss_comparison_table_15_njzgAX {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
      }

      .comparison-table-template--22749976822089__ss_comparison_table_15_njzgAX {
        ;
        padding: 8px 32px;
      }

      .comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX img {
        width: 100px;
      }

      .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX {
        padding: 20px 16px;
      }

      .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX h3 {
        text-align: center;
        font-size: 20px;
      }

      .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX {
        padding: 20px 16px;
      }

      .comparison-item-heading-image-template--22749976822089__ss_comparison_table_15_njzgAX {
        width: 66px;
        height: 66px;
      }

      .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX:first-child h3 {
        text-align: center;
        font-size: 20px;
      }

      .comparison-item-text-template--22749976822089__ss_comparison_table_15_njzgAX {
        font-size: 15px;
        text-align: center;
      }

      .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX {
        margin-top: 60px;
        padding: 18px 32px;
        font-size: 16px;
      }

      .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active:before {
        top: calc((8px + 10px) * -1);
        height: 18px;
      }

      .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX:last-child .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active:before {
        height: 18px;
      }

      .comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX {
        width: 36px;
        height: 36px;
      }

      .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX.active .comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX {
        width: 46px;
        height: 46px;
      }

      .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX video,
      .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX iframe,
      .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX img,
      .comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX svg {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  </style>
  <style>
    .section-template--22749976822089__ss_comparison_table_15_njzgAX-settings {
      max-width: 1300px;
    }
  </style>







  <style>
    .comparison-heading-template--22749976822089__ss_comparison_table_15_njzgAX * {
      font-family: "ITC Galliard", serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>



  <style>
    .comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX h3 {
      font-family: "ITC Galliard", serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>



  <style>
    .comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX .comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX:first-child h3 {
      font-family: "ITC Galliard", serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>







  <style>
    .comparison-layout-template--22749976822089__ss_comparison_table_15_njzgAX {
      grid-template-areas:
        "table"
        "video";
    }
  </style>



  <style>
    @media(min-width: 1024px) {
      .comparison-layout-template--22749976822089__ss_comparison_table_15_njzgAX {
        grid-template-areas: "table video";
      }
    }
  </style>



  <style>
    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX {
      transition: all 0.25s ease 0s;
      background-color: #d0e5d5;
    }

    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX:hover {
      transition: all 0.25s ease 0s;
      background-color: #E7D9CD;
    }
  </style>



  <style>
    .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX {
      margin-left: auto;
      margin-right: auto;
    }
  </style>



  <style>
    @media(min-width: 1024px) {
      .comparison-button-template--22749976822089__ss_comparison_table_15_njzgAX {
        margin-left: auto;
        margin-right: auto;
      }
    }
  </style>


  <div class="section-template--22749976822089__ss_comparison_table_15_njzgAX comparison-template--22749976822089__ss_comparison_table_15_njzgAX" style="background-color:#886B5A; background-image: ;">
    <div class="section-template--22749976822089__ss_comparison_table_15_njzgAX-settings">

      <div class="comparison-heading-template--22749976822089__ss_comparison_table_15_njzgAX">
      <h1 style="font-weight: bold;">Pourquoi nous faire confiance ?</h1>

      </div>

      <div class="comparison-layout-template--22749976822089__ss_comparison_table_15_njzgAX">
        <div class="comparison-media-template--22749976822089__ss_comparison_table_15_njzgAX">






    




        </div>
        <div class="comparison-table-template--22749976822089__ss_comparison_table_15_njzgAX">
          <div class="comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX comparison-grid-header-template--22749976822089__ss_comparison_table_15_njzgAX">
            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX"></div>

            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX active">

              <img src="https://cdn.shopify.com/s/files/1/0964/4130/3378/files/a6e1083b-fde6-4333-a241-15b664c8c320_removalai_preview.png?v=1747258252" alt="" loading="lazy">

            </div>


            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX ">

              <h3>Other brands</h3>

            </div>



          </div>

          <div class="comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX">
            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX">

              <h3>Lavable </h3>
            </div>

            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX active">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg xmlns="http://www.w3.org/2000/svg" class="comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 30 30">
                  <circle cx="15" cy="15" r="13.69" style="  stroke-width:0px;"></circle>
                  <path d="m15,29.54C6.98,29.54.46,23.02.46,15S6.98.46,15,.46s14.54,6.52,14.54,14.54-6.52,14.54-14.54,14.54Zm0-27.37C7.92,2.17,2.17,7.92,2.17,15s5.76,12.83,12.83,12.83,12.83-5.76,12.83-12.83S22.07,2.17,15,2.17Z" style="stroke-width:0px;"></path>
                  <polygon points="13.04 20.07 8.45 15.47 9.66 14.26 13.04 17.65 20.15 10.53 21.36 11.74 13.04 20.07" style="stroke-width:0px;"></polygon>
                </svg>

              </div>


            </div>


            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX ">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg class="comparison-no-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M36.5 12.5L12.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                  <path d="M12.5 12.5L36.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                </svg>

              </div>


            </div>



          </div>

          <div class="comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX">
            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX">

              <h3>Éco-logique et Éco-nomique</h3>
            </div>

            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX active">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg xmlns="http://www.w3.org/2000/svg" class="comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 30 30">
                  <circle cx="15" cy="15" r="13.69" style="  stroke-width:0px;"></circle>
                  <path d="m15,29.54C6.98,29.54.46,23.02.46,15S6.98.46,15,.46s14.54,6.52,14.54,14.54-6.52,14.54-14.54,14.54Zm0-27.37C7.92,2.17,2.17,7.92,2.17,15s5.76,12.83,12.83,12.83,12.83-5.76,12.83-12.83S22.07,2.17,15,2.17Z" style="stroke-width:0px;"></path>
                  <polygon points="13.04 20.07 8.45 15.47 9.66 14.26 13.04 17.65 20.15 10.53 21.36 11.74 13.04 20.07" style="stroke-width:0px;"></polygon>
                </svg>

              </div>


            </div>


            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX ">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg class="comparison-no-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M36.5 12.5L12.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                  <path d="M12.5 12.5L36.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                </svg>

              </div>


            </div>



          </div>

          <div class="comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX">
            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX">

              <h3>Ne colle pas</h3>
            </div>

            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX active">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg xmlns="http://www.w3.org/2000/svg" class="comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 30 30">
                  <circle cx="15" cy="15" r="13.69" style="  stroke-width:0px;"></circle>
                  <path d="m15,29.54C6.98,29.54.46,23.02.46,15S6.98.46,15,.46s14.54,6.52,14.54,14.54-6.52,14.54-14.54,14.54Zm0-27.37C7.92,2.17,2.17,7.92,2.17,15s5.76,12.83,12.83,12.83,12.83-5.76,12.83-12.83S22.07,2.17,15,2.17Z" style="stroke-width:0px;"></path>
                  <polygon points="13.04 20.07 8.45 15.47 9.66 14.26 13.04 17.65 20.15 10.53 21.36 11.74 13.04 20.07" style="stroke-width:0px;"></polygon>
                </svg>

              </div>


            </div>


            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX ">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg class="comparison-no-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M36.5 12.5L12.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                  <path d="M12.5 12.5L36.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                </svg>

              </div>


            </div>


          </div>
          <div class="comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX">
            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX">
              
                <h3>Pratique et facile à nettoyer</h3>
            </div>
            
              <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX active">
                
                  <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">
                    
                      <svg xmlns="http://www.w3.org/2000/svg" class="comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 30 30"><circle cx="15" cy="15" r="13.69" style="  stroke-width:0px;"></circle><path d="m15,29.54C6.98,29.54.46,23.02.46,15S6.98.46,15,.46s14.54,6.52,14.54,14.54-6.52,14.54-14.54,14.54Zm0-27.37C7.92,2.17,2.17,7.92,2.17,15s5.76,12.83,12.83,12.83,12.83-5.76,12.83-12.83S22.07,2.17,15,2.17Z" style="stroke-width:0px;"></path><polygon points="13.04 20.07 8.45 15.47 9.66 14.26 13.04 17.65 20.15 10.53 21.36 11.74 13.04 20.07" style="stroke-width:0px;"></polygon></svg>
                    
                  </div>                
                
                
              </div>
            
            
              <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX ">
                
                  <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">
                      
                      <svg class="comparison-no-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.5 12.5L12.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                        <path d="M12.5 12.5L36.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                      </svg>
                    
                  </div>                
                
                
              </div>
            
            
            
          </div>

          <div class="comparison-grid-template--22749976822089__ss_comparison_table_15_njzgAX comparison-grid-rows-template--22749976822089__ss_comparison_table_15_njzgAX">
            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX">

              <h3>Conçu pour durer</h3>
            </div>

            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX active">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg xmlns="http://www.w3.org/2000/svg" class="comparison-yes-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 30 30">
                  <circle cx="15" cy="15" r="13.69" style="  stroke-width:0px;"></circle>
                  <path d="m15,29.54C6.98,29.54.46,23.02.46,15S6.98.46,15,.46s14.54,6.52,14.54,14.54-6.52,14.54-14.54,14.54Zm0-27.37C7.92,2.17,2.17,7.92,2.17,15s5.76,12.83,12.83,12.83,12.83-5.76,12.83-12.83S22.07,2.17,15,2.17Z" style="stroke-width:0px;"></path>
                  <polygon points="13.04 20.07 8.45 15.47 9.66 14.26 13.04 17.65 20.15 10.53 21.36 11.74 13.04 20.07" style="stroke-width:0px;"></polygon>
                </svg>

              </div>


            </div>


            <div class="comparison-item-template--22749976822089__ss_comparison_table_15_njzgAX ">

              <div class="comparison-icon-template--22749976822089__ss_comparison_table_15_njzgAX">

                <svg class="comparison-no-icon-template--22749976822089__ss_comparison_table_15_njzgAX" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M36.5 12.5L12.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                  <path d="M12.5 12.5L36.5 36.5" stroke="#000000" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round"></path>
                </svg>

              </div>