

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566394114455634882.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-566394114455634882.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566394114455634882.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566394114455634882.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566394114455634882.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566394114455634882.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566394114455634882.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566394114455634882.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566394114455634882.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566394114455634882.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566394114455634882.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566394114455634882.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-566394114455634882.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-566394114455634882.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-566394114455634882.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-566394114455634882.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566394114455634882.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-566394114455634882.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-566394114455634882.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-566394114455634882.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566394114455634882.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-566394114455634882.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566394114455634882.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566394114455634882.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566394114455634882.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566394114455634882.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566394114455634882.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566394114455634882.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566394114455634882.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566394114455634882.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566394114455634882.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566394114455634882.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566394114455634882.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566394114455634882.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-566394114455634882.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-566394114455634882.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-566394114455634882.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566394114455634882.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566394114455634882.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566394114455634882.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566394114455634882.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566394114455634882.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566394114455634882.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566394114455634882.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566394114455634882.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-566394114455634882.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-566394114455634882.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566394114455634882.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-566394114455634882.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-566394114455634882.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-566394114455634882.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566394114455634882.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566394114455634882.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-566394114455634882.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566394114455634882.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-566394114455634882.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566394114455634882.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566394114455634882.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566394114455634882.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-566394114455634882.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-566394114455634882.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-566394114455634882.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566394114455634882.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566394114455634882.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566394114455634882.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566394114455634882.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-566394114455634882.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566394114455634882.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566394114455634882.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566394114455634882.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566394114455634882.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566394114455634882.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-566394114455634882.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566394114455634882.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566394114455634882.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566394114455634882.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566394114455634882.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-566394114455634882.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-566394114455634882.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-566394114455634882.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566394114455634882.gps.gpsil [style*="--z-mobile:"]{z-index:var(--z-mobile)}.gps-566394114455634882.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566394114455634882 .gp-relative{position:relative}.gps-566394114455634882 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566394114455634882 .gp-mb-0{margin-bottom:0}.gps-566394114455634882 .gp-flex{display:flex}.gps-566394114455634882 .gp-grid{display:grid}.gps-566394114455634882 .gp-contents{display:contents}.gps-566394114455634882 .\!gp-hidden{display:none!important}.gps-566394114455634882 .gp-hidden{display:none}.gps-566394114455634882 .gp-h-full{height:100%}.gps-566394114455634882 .gp-max-w-full{max-width:100%}.gps-566394114455634882 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566394114455634882 .gp-flex-col{flex-direction:column}.gps-566394114455634882 .gp-gap-y-0{row-gap:0}.gps-566394114455634882 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566394114455634882 .gp-duration-200{transition-duration:.2s}.gps-566394114455634882 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-566394114455634882 .tablet\:\!gp-hidden{display:none!important}.gps-566394114455634882 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-566394114455634882 .mobile\:\!gp-hidden{display:none!important}.gps-566394114455634882 .mobile\:gp-hidden{display:none}}.gps-566394114455634882 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gyU6x9zs1j" data-id="gyU6x9zs1j"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyU6x9zs1j gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsV4GvV7I_ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mt:-64px;--mb:0px;--mt-mobile:-64px;--mb-mobile:-1px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gaw3pzkxUc "
    ><div><section class="gp-mx-auto gp-max-w-full" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px">
              
    <div enablelazyloadimage="true" id="gaWNgtcOYL" data-id="gaWNgtcOYL" style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url(//splendorintl.com/cdn/shop/files/gempages_534627086933951483-152be7ee-4a97-4777-8874-cc70cff3c1e0.svg?v=7418511190627643091);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gaWNgtcOYL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:start" class="g2bqHKW0Bd gp-relative gp-flex gp-flex-col">
      
       
      
    <div enablelazyloadimage="true" parenttag="Col" id="g2Gt56Rc3Z" data-id="g2Gt56Rc3Z" style="--mt:113px;--mb:113px;--mt-mobile:65px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:18px;--pb-mobile:57px;--pr-mobile:18px;--mt-tablet:80px;--mb-tablet:80px;--pr-tablet:200px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr-mobile:10px;--bbrr-mobile:10px;--btlr-mobile:10px;--btrr-mobile:10px;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:530px;--w-tablet:689px;--w-mobile:320px;--bgc:transparent;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll" class="g2Gt56Rc3Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:start" class="gkp8bTSXXf gp-relative gp-flex gp-flex-col">
      <div data-id="gkUkAqecb1" role="presentation" class="gp-group/image gkUkAqecb1" style="--mb:39px;--mb-mobile:16px;--mb-tablet:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center">
      <div class="pointer-events-auto h-full gp-flex" style="--shadow:none;border-radius:inherit;--jc:center">
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-df4b55eb-9a35-49e5-81ef-08a2d5139e88_768x.webp?4318" srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-df4b55eb-9a35-49e5-81ef-08a2d5139e88_768x.webp?4318">
      <source media="(max-width: 1024px)" data-srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-961ff672-1376-4ee6-a070-5ae573953abe_1024x.webp?4318" srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-961ff672-1376-4ee6-a070-5ae573953abe_1024x.webp?4318">
      <img class="gp-h-full gp-max-w-full gp-flex gp_ls-is-cached gp_lazyloaded" src="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-961ff672-1376-4ee6-a070-5ae573953abe.webp?v=9492277886338673945" data-src="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-961ff672-1376-4ee6-a070-5ae573953abe.webp?v=9492277886338673945" width="100%" alt="" style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:72px;--w-tablet:60px;--w-mobile:51px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none" data-quality="auto">
    
  </picture>
      </div>
  </div>
  
  <gp-text data-id="gg5qbpV1X6">
    <div enablelazyloadimage="true" parenttag="Col" class="gg5qbpV1X6 " style="--ta:left;--mb:22px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <h3 data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-heading, heading);--weight:700;--size:25px;--size-tablet:20px;--size-mobile:18px;--lh:137%;--lh-tablet:136%;--lh-mobile:160%;--c:#8F7C6D;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden">100% Satisfaction Guarantee</h3>
      </div>
    </div>
    </gp-text>
    
  
  <gp-text data-id="g35HPOE-YE">
    <div enablelazyloadimage="true" parenttag="Col" class="g35HPOE-YE " style="--ta:left;--mb:23px;--pb:0px;--mb-mobile:20px;--pb-mobile:0px;--mb-tablet:20px;--pb-tablet:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:280px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:15px;--size-mobile:15px;--lh:136%;--lh-tablet:136%;--lh-mobile:136%;--c:#75706E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>We get it—finding the perfect skin tint can be tricky. That’s why we make it effortless.</p></div>
      </div>
    </div>
    </gp-text>
    
  
  <gp-text data-id="ggU5ywGLRV">
    <div enablelazyloadimage="true" parenttag="Col" class="ggU5ywGLRV " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:290px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:15px;--size-mobile:15px;--lh:136%;--lh-tablet:136%;--lh-mobile:136%;--c:#75706E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p><strong>Try it, wear it, love it</strong>—and if it’s not the perfect match, we’ve got you covered with our <strong>30-Day Money-Back Guarantee.</strong>&nbsp;</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      <style id="custom-css-g2Gt56Rc3Z">
        .g2Gt56Rc3Z {
z-index: 2;
}
@media only screen and (min-width: 768px) {
    .g2Gt56Rc3Z [data-gp-text]{
        color: #ffffff !important;
    }
}

      </style>
    <div data-id="g2meyw_ub5" role="presentation" class="gp-group/image g2meyw_ub5" style="--mt-mobile:-55px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pos:absolute;--pos-mobile:relative;--right:0px;--right-mobile:Auto;--top:Auto;--top-mobile:Auto;--bottom:0px;--bottom-mobile:Auto;--z-mobile:3;--ta:center">
      <div class="pointer-events-auto h-full gp-flex" style="--shadow:none;border-radius:inherit;--jc:center">
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-689224f4-c416-4378-bda6-0504af85d89e_768x.webp?4318" srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-689224f4-c416-4378-bda6-0504af85d89e_768x.webp?4318">
      <source media="(max-width: 1024px)" data-srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-1f2932c0-3d4e-435b-8ffd-90a7cdd12713_1024x.webp?4318" srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-1f2932c0-3d4e-435b-8ffd-90a7cdd12713_1024x.webp?4318">
      <img class="gp-h-full gp-max-w-full gp-flex gp_ls-is-cached gp_lazyloaded" src="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-1f2932c0-3d4e-435b-8ffd-90a7cdd12713.webp?v=3778388779230118197" data-src="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-1f2932c0-3d4e-435b-8ffd-90a7cdd12713.webp?v=3778388779230118197" width="100%" alt="" style="--aspect: auto; --aspect-tablet: auto; --aspect-mobile: auto; --objf: cover; --w: 545px; --w-tablet: 380px; --w-mobile: 450px; --h: auto; --h-tablet: auto; --h-mobile: auto; --b: none; --bc: #000000; --bw: 1px 1px 1px 1px; --radiusType: none; --shadow: none; pointer-events: all !important;" data-quality="auto">
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section></div></div>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-566394114455634882 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e1q3vs-mx/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=566327984089269205&sectionId=566394114455634882)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
