

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566394482161878031.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-566394482161878031.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566394482161878031.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566394482161878031.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566394482161878031.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566394482161878031.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566394482161878031.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566394482161878031.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566394482161878031.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566394482161878031.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566394482161878031.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-566394482161878031.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566394482161878031.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-566394482161878031.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-566394482161878031.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566394482161878031.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566394482161878031.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566394482161878031.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566394482161878031.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566394482161878031.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566394482161878031.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566394482161878031.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566394482161878031.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566394482161878031.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566394482161878031.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566394482161878031.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-566394482161878031.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566394482161878031.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566394482161878031.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566394482161878031.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-566394482161878031.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-566394482161878031.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-566394482161878031.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-566394482161878031.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566394482161878031.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566394482161878031.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566394482161878031.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566394482161878031.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566394482161878031.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566394482161878031.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566394482161878031.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566394482161878031.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566394482161878031.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-566394482161878031.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-566394482161878031.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566394482161878031.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566394482161878031.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566394482161878031.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-566394482161878031.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-566394482161878031.gps.gpsil [style*="--bc-tablet:"]{border-color:var(--bc-tablet)}.gps-566394482161878031.gps.gpsil [style*="--bs-tablet:"]{border-style:var(--bs-tablet)}.gps-566394482161878031.gps.gpsil [style*="--bw-tablet:"]{border-width:var(--bw-tablet)}.gps-566394482161878031.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-566394482161878031.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566394482161878031.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566394482161878031.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-566394482161878031.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566394482161878031.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-566394482161878031.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-566394482161878031.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566394482161878031.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566394482161878031.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-566394482161878031.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-566394482161878031.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566394482161878031.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566394482161878031.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-566394482161878031.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-566394482161878031.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-566394482161878031.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566394482161878031.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566394482161878031.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566394482161878031.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-566394482161878031.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566394482161878031.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566394482161878031.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-566394482161878031.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566394482161878031.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566394482161878031.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566394482161878031.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566394482161878031.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-566394482161878031.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566394482161878031.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566394482161878031 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-566394482161878031 .gp-relative{position:relative}.gps-566394482161878031 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566394482161878031 .gp-mb-0{margin-bottom:0}.gps-566394482161878031 .\!gp-block{display:block!important}.gps-566394482161878031 .gp-block{display:block}.gps-566394482161878031 .gp-flex{display:flex}.gps-566394482161878031 .gp-inline-flex{display:inline-flex}.gps-566394482161878031 .gp-grid{display:grid}.gps-566394482161878031 .gp-contents{display:contents}.gps-566394482161878031 .\!gp-hidden{display:none!important}.gps-566394482161878031 .gp-hidden{display:none}.gps-566394482161878031 .gp-h-full{height:100%}.gps-566394482161878031 .gp-w-full{width:100%}.gps-566394482161878031 .gp-max-w-full{max-width:100%}.gps-566394482161878031 .gp-flex-none{flex:none}.gps-566394482161878031 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566394482161878031 .gp-flex-col{flex-direction:column}.gps-566394482161878031 .gp-items-center{align-items:center}.gps-566394482161878031 .gp-justify-start{justify-content:flex-start}.gps-566394482161878031 .gp-justify-center{justify-content:center}.gps-566394482161878031 .gp-gap-y-0{row-gap:0}.gps-566394482161878031 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566394482161878031 .gp-duration-200{transition-duration:.2s}.gps-566394482161878031 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-566394482161878031 .tablet\:gp-block{display:block}.gps-566394482161878031 .tablet\:\!gp-hidden{display:none!important}.gps-566394482161878031 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-566394482161878031 .mobile\:gp-block{display:block}.gps-566394482161878031 .mobile\:\!gp-hidden{display:none!important}.gps-566394482161878031 .mobile\:gp-hidden{display:none}}.gps-566394482161878031 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gGADCRq8vU" data-id="gGADCRq8vU"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGADCRq8vU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_MEXWtXzl gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mt:-64px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gQORqh1QkN "
    ><div><div enablelazyloadimage="true" id="g28vNu3LnY" data-id="g28vNu3LnY" style="--blockPadding:base;--bs:none;--bs-tablet:none;--bw:1px 0px 1px 0px;--bw-tablet:1px 0px 1px 0px;--bc:#F2DDEE;--bc-tablet:#F2DDEE;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:83px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:76px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBF1E8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="g28vNu3LnY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" label="Block" tag="Col" type="component" style="--jc:start" class="gCmYXwbPBF gp-relative gp-flex gp-flex-col">
      
       
      
    <div enablelazyloadimage="true" parenttag="Col" id="gTq8DoChtR" data-id="gTq8DoChtR" style="--mt:0px;--mb:47px;--mt-mobile:0px;--mb-mobile:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gTq8DoChtR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:start" class="gs5wwCqVGH gp-relative gp-flex gp-flex-col">
      <div data-id="gqvrfLD0cN" role="presentation" class="gp-group/image gqvrfLD0cN" style="--mb:7px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center">
      <div class="pointer-events-auto h-full gp-flex" style="--shadow:none;border-radius:inherit;--jc:center">
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-ea424bf2-b1fd-4103-bffe-8dc79661842b_768x.webp?4318" srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-ea424bf2-b1fd-4103-bffe-8dc79661842b_768x.webp?4318">
      <source media="(max-width: 1024px)" data-srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-ea424bf2-b1fd-4103-bffe-8dc79661842b_1024x.webp?4318" srcset="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-ea424bf2-b1fd-4103-bffe-8dc79661842b_1024x.webp?4318">
      <img class="gp-h-full gp-max-w-full gp-flex gp_ls-is-cached gp_lazyloaded" src="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-ea424bf2-b1fd-4103-bffe-8dc79661842b.webp?v=9863142413917065072" data-src="//splendorintl.com/cdn/shop/files/gempages_534627086933951483-ea424bf2-b1fd-4103-bffe-8dc79661842b.webp?v=9863142413917065072" width="100%" alt="" style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:113px;--w-tablet:93px;--w-mobile:73px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none" data-quality="auto">
    
  </picture>
      </div>
  </div>
  
  <gp-text data-id="g1qpYrygrf">
    <div enablelazyloadimage="true" parenttag="Col" class="g1qpYrygrf " style="--ta:left;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--mb:14px;--mt-mobile:0px">
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h3 data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:292px;--ts:none;--ta:center;--ff:var(--g-font-Minerva-Modern, 'Minerva Modern'), var(--g-font-heading, heading);--weight:400;--ls:0.98px;--size:35px;--size-tablet:32px;--size-mobile:28px;--lh:115%;--lh-tablet:115%;--lh-mobile:115%;--c:#27201A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden">See It In Action</h3>
      </div>
    </div>
    </gp-text>
    
  
  <gp-text data-id="gKzgB9hXqg">
    <div enablelazyloadimage="true" parenttag="Col" class="gKzgB9hXqg " style="--ta:center;--ta-tablet:center;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:center;--jc-tablet:center">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:495px;--w-tablet:490px;--w-mobile:300px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.17px;--size:17px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:125%;--c:#5A534D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>No filters, no heavy layers—just natural coverage that lets your skin shine through.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div enablelazyloadimage="true" parenttag="Col" id="gSS_x334iF" data-id="gSS_x334iF" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:93px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gSS_x334iF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" label="Block" tag="Col" type="component" style="--jc:start" class="gjgKDroBg_ gp-relative gp-flex gp-flex-col">
      <div gp-el-wrapper="" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:-14px;--mt-tablet:0px" class="g4p-BKg7tq ">
      
    
    <div class="gp-flex gp-w-full gp-items-center  !gp-block" style="--jc:center">
      
        
          <div id="shopify-block-Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq" class="shopify-block shopify-app-block">

  

  
    <!-- BEGIN app snippet: reel-playlist-critical-style --><style data-shopify=""> .eco-popup{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:5000}.eco-popup__content{height:100%;display:flex;justify-content:center}.eco-popup__content-container{width:1200px;max-width:100%}:root{--eco-sl-theme-color: #1c1c1c}.eco-sl{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;display:block}.eco-sl-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;transition-timing-function:var(--eco-sl-wrapper-transition-timing-function, initial);box-sizing:content-box}.eco-sl-android .eco-sl-slide,.eco-sl-ios .eco-sl-slide,.eco-sl-wrapper{transform:translate3d(0px, 0, 0)}.eco-sl-horizontal{touch-action:pan-y}.eco-sl-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;display:block}.eco-sl-backface-hidden .eco-sl-slide{transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}:root{--eco-sl-navigation-size: 44px}.eco-sl-button-prev,.eco-sl-button-next{position:absolute;top:var(--eco-sl-navigation-top-offset, 50%);width:calc(var(--eco-sl-navigation-size)/44*27);height:var(--eco-sl-navigation-size);margin-top:calc(0px - var(--eco-sl-navigation-size)/2);z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--eco-sl-navigation-color, var(--eco-sl-theme-color))}.eco-sl-button-prev svg,.eco-sl-button-next svg{width:100%;height:100%;object-fit:contain;transform-origin:center}.eco-sl-rtl .eco-sl-button-prev svg,.eco-sl-rtl .eco-sl-button-next svg{transform:rotate(180deg)}.eco-sl-button-prev,.eco-sl-rtl .eco-sl-button-next{left:var(--eco-sl-navigation-sides-offset, 10px);right:auto}.eco-sl-button-next,.eco-sl-rtl .eco-sl-button-prev{right:var(--eco-sl-navigation-sides-offset, 10px);left:auto}.eco-sl-pagination{position:absolute;text-align:center;transition:300ms opacity;transform:translate3d(0, 0, 0);z-index:10;display:block !important}.eco-sl-pagination-fraction,.eco-sl-pagination-custom,.eco-sl-horizontal>.eco-sl-pagination-bullets,.eco-sl-pagination-bullets.eco-sl-pagination-horizontal{bottom:var(--eco-sl-pagination-bottom, 8px);top:var(--eco-sl-pagination-top, auto);left:0;width:100%}.eco-sl-pagination-bullet{width:var(--eco-sl-pagination-bullet-width, var(--eco-sl-pagination-bullet-size, 8px));height:var(--eco-sl-pagination-bullet-height, var(--eco-sl-pagination-bullet-size, 8px));display:inline-block;border-radius:var(--eco-sl-pagination-bullet-border-radius, 50%);background:var(--eco-sl-pagination-bullet-inactive-color, #000);opacity:var(--eco-sl-pagination-bullet-inactive-opacity, 0.2)}.eco-sl-pagination-clickable .eco-sl-pagination-bullet{cursor:pointer}.eco-sl-pagination-bullet-active{opacity:var(--eco-sl-pagination-bullet-opacity, 1);background:var(--eco-sl-pagination-color, var(--eco-sl-theme-color))}.eco-sl-horizontal>.eco-sl-pagination-bullets .eco-sl-pagination-bullet,.eco-sl-pagination-horizontal.eco-sl-pagination-bullets .eco-sl-pagination-bullet{margin:0 var(--eco-sl-pagination-bullet-horizontal-gap, 4px)}.eco-pl-slider-wrapper{--eco-sl-navigation-sides-offset: 0;--eco-sl-theme-color: #1c1c1c;--eco-sl-navigation-color: #1c1c1c;--eco-sl-navigation-size: 22px;--eco-sl-navigation-custom-width: 35px;--eco-sl-navigation-custom-height: 70px;--eco-sl-navigation-custom-background: #fff;--eco-sl-navigation-custom-border-radius: 5px}.eco-pl-slider-wrapper .eco-sl-button-next,.eco-pl-slider-wrapper .eco-sl-button-prev{display:none;background-color:var(--eco-sl-navigation-custom-background);width:var(--eco-sl-navigation-custom-width);height:var(--eco-sl-navigation-custom-height);justify-content:center;align-items:center;margin-top:calc(0px - var(--eco-sl-navigation-custom-height)/2)}.eco-pl-slider-wrapper .eco-sl-button-next{border-radius:var(--eco-sl-navigation-custom-border-radius) 0 0 var(--eco-sl-navigation-custom-border-radius)}.eco-pl-slider-wrapper .eco-sl-button-prev{border-radius:0 var(--eco-sl-navigation-custom-border-radius) var(--eco-sl-navigation-custom-border-radius) 0}.eco-pl-slider-wrapper .eco-sl-button-prev svg{transform:rotate(180deg)}.eco-pl__slide{cursor:pointer}.eco-pl__slide-frame-wrap{display:flex;justify-content:center;align-items:center;position:relative}.eco-pl__slide-frame{width:100%;padding-top:177.5%;position:relative;cursor:pointer}.eco-pl__preview-wrap{position:absolute;inset:0;border-radius:10px;overflow:hidden}.eco-pl__preview-wrap .eco-play-button svg{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#fff;width:50px}.eco-pl__preview{display:inline-block;width:100%;height:100%;object-fit:cover;background-color:#fafafa}.eco-pl__slide-info{display:flex;flex-direction:column;gap:4px;margin-top:16px}.eco-pl__slide-badges{display:flex;gap:4px;flex-flow:wrap;position:absolute;top:10px;left:10px}.eco-pl__slide-badge{padding:8px 10px;border-radius:30px;font-size:14px;color:#fff;font-weight:bold;background-color:#ce1c1c;line-height:1}.eco-pl__slide-title{margin:0;font-weight:bold;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;line-height:1.3em;max-height:2.6em;text-overflow:ellipsis;font-size:16px}.eco-pl__slide-creator{font-size:14px}.eco-pl-slider--carousel:not(.eco-sl-initialized),.eco-pl-slider--story:not(.eco-sl-initialized){display:flex;justify-content:space-around}.eco-pl-slider--carousel:not(.eco-sl-initialized) .eco-sl-wrapper,.eco-pl-slider--story:not(.eco-sl-initialized) .eco-sl-wrapper{position:static;width:auto}.eco-pl-slider--carousel.eco-sl-initialized .eco-sl-button-next,.eco-pl-slider--carousel.eco-sl-initialized .eco-sl-button-prev,.eco-pl-slider--story.eco-sl-initialized .eco-sl-button-next,.eco-pl-slider--story.eco-sl-initialized .eco-sl-button-prev{display:flex}.eco-pl-slider--story .eco-sl-slide{width:90px}.eco-pl-slider--story .eco-pl__slide-frame{padding-top:100%}.eco-pl-slider--story .eco-pl__preview-wrap{border-radius:50%;border:2px solid #ffc1a9;padding:3px;overflow:hidden}.eco-pl-slider--story .eco-pl__preview-wrap img,.eco-pl-slider--story .eco-pl__preview-wrap video{border-radius:50%}.eco-pl-slider--story .eco-pl__slide-info{margin-top:12px}.eco-pl-slider--story .eco-pl__slide-title{font-size:12px;text-align:center}.eco-popup .eco-pl-slider-wrapper{height:100%}.eco-pl-popup-slider{height:100%}.eco-sl-pagination--outside{position:static !important;margin-top:1rem}.gps p.eco-pl__slide-title{margin:0;font-weight:bold;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;line-height:1.3em;max-height:2.6em;text-overflow:ellipsis;font-size:16px}.gps eco-reel video{display:inline-block;width:100%;height:100%;min-height:100%;object-fit:cover;object-position:center}div.ecom-core eco-reel .eco-poster{height:100% !important}eco-reel{position:relative}eco-reel *{box-sizing:border-box}eco-reel .eco-poster{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;filter:brightness(1.08) contrast(1.08)}eco-reel .eco-poster.hide{display:none}eco-reel video{display:inline-block;width:100%;height:100%;min-height:100%;object-fit:cover;object-position:center}eco-reel .eco-play-button{opacity:1;transition:all .1s ease-in-out}eco-reel .eco-play-button.hide{opacity:0}eco-reel .eco-play-button svg,eco-reel .eco-play-button img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#fff;width:50px;height:50px} </style><!-- END app snippet -->
    <!-- BEGIN app snippet: global-settings --><script type="text/javascript">
  if (!window.EcoBoostify) {
    window.EcoBoostify = {};
  }
  if (!window.EcoBoostify.config) {
    window.EcoBoostify.config = {};
  }
  if (!window.EcoBoostify.config.global) {
    window.EcoBoostify.config.global = {
      moneyFormat: "€{{amount_with_comma_separator}}",
      moneyWithCurrencyFormat: "€{{amount_with_comma_separator}} EUR",
      currentProductHandle: 'splendor-serum-boosted-skin-tint',
    };
  }
</script>
<!-- END app snippet -->

    

    <!-- BEGIN app snippet: reel-playlist-settings --><script type="text/javascript">
  // Shoppable videos - Detail Popup
  
  if (!window.EcoBoostify.config.shoppableVideos) {
    window.EcoBoostify.config.shoppableVideos = {
      carousel:{
        playIcon: 'custom',
        customPlayIcon: {"id":"gid:\/\/shopify\/MediaImage\/36816088695001","url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0715\/5151\/6889\/files\/ecoboostify-generic-f606c0d0-0478-4a1d-b9aa-e50f5b3601a5.svg?v=1741062742"}
      },
      grid:{
        playIcon: 'default',
        customPlayIcon: ""
      },
      detailPopup: {
        audio: 'unmuted',
        action: {
          type: 'buy-now',
          openIn: '',
          duplicateMainOpenPDP: '',
          textOpenProductPage: '',
          textAddToCart: '',
          textBuyNow: 'Buy Now',
        },
        saleBadgeText: 'XX% OFF',
        playIcon: 'default',
        customPlayIcon: "",
        branding: 'none',
      },
    };
  }

  
</script>
<!-- END app snippet -->

    <link rel="stylesheet" href="https://cdn.shopify.com/extensions/ddd1eeca-d9f0-4d44-a921-a92861a20c7b/ecoboostify-108/assets/ReelPlaylist.css" media="all" onload="this.media='all'">
    <script type="module" src="https://cdn.shopify.com/extensions/ddd1eeca-d9f0-4d44-a921-a92861a20c7b/ecoboostify-108/assets/ReelPlaylist.js"></script>

    

    

    
      <style data-shopify="">
        .eco-pl-slider-wrapper-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq{
          padding-top: 36px;
          padding-bottom: 36px;
        }

        .eco-pl-slider-wrapper-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq .eco-pl__preview-wrap{
          border-radius: 0px;
        }


        
          .eco-pl-slider-wrapper-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq .eco-sl-slide{
            width: 264px;
            margin-right: 24px;
          }
          .eco-pl-slider-wrapper-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq .eco-sl-slide:last-child{
            margin-right: 0;
          }

          @media screen and (max-width: 749px){
            .eco-pl-slider-wrapper-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq .eco-sl-slide{
              width: 232px;
            }
          }
        
        
      </style>
    

    

    
    

    <eco-playlist playlist-id="556219080172934430" playlist-container="eco-pl-slider-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq" playlist-style="CAROUSEL" carousel-style="default" infinite-loop="false" play-type="hover" preview-type="SHORT_VIDEO" loading="lazy">
      <div class="eco-pl-slider-wrapper eco-pl-slider-wrapper-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq">
        <div id="eco-pl-slider-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq" class="eco-sl eco-pl-slider-556219080172934430Aa3hwWGRrTE1vZW9RZ__gp_app_ecoboostify-shoppable-reel-ugc_g4p-BKg7tq eco-pl-slider eco-pl-slider--carousel eco-pl-slider--default eco-sl-initialized eco-sl-horizontal eco-sl-backface-hidden">
          <div class="eco-sl-wrapper" style="transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(180px, 0px, 0px);">
            
              
                
                  
                  <div class="eco-sl-slide eco-sl-slide-active">
                    <div class="eco-pl__slide" data-reel-id="556219192395732254" data-products="[]" data-featured-video="{&quot;alt&quot;:&quot;ecoboostify-reel-manual-d6713a9d-dce1-4bba-86f9-10cd94fb739c.mp4&quot;,&quot;id&quot;:36816038658265,&quot;position&quot;:null,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.563,&quot;height&quot;:1024,&quot;width&quot;:576,&quot;src&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/files\/preview_images\/2951083ea2b549b6a7bbf1a5fe78ca52.thumbnail.0000000000.jpg?v=1741062091&quot;},&quot;aspect_ratio&quot;:0.563,&quot;duration&quot;:9230,&quot;media_type&quot;:&quot;video&quot;,&quot;sources&quot;:[{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:480,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/2951083ea2b549b6a7bbf1a5fe78ca52\/2951083ea2b549b6a7bbf1a5fe78ca52.SD-480p-0.9Mbps-43558637.mp4?v=0&quot;,&quot;width&quot;:270},{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:720,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/2951083ea2b549b6a7bbf1a5fe78ca52\/2951083ea2b549b6a7bbf1a5fe78ca52.HD-720p-1.6Mbps-43558637.mp4?v=0&quot;,&quot;width&quot;:404},{&quot;format&quot;:&quot;m3u8&quot;,&quot;height&quot;:720,&quot;mime_type&quot;:&quot;application\/x-mpegURL&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/2951083ea2b549b6a7bbf1a5fe78ca52\/2951083ea2b549b6a7bbf1a5fe78ca52.m3u8?v=0&quot;,&quot;width&quot;:404}]}">
                      
                      
                        <!-- BEGIN app snippet: reel-card-template-1 --><div class="eco-pl__slide-frame-wrap">
  <div class="eco-pl__slide-frame">
    <div class="eco-pl__preview-wrap">
      
        <eco-reel loading="lazy" src="//splendorintl.com/cdn/shop/files/ecoboostify-reel-short-81c963d5-9517-4b29-8503-8379fdbadfd7.mp4?v=2685314269715450698" loop="" muted="" preload="auto" playsinline="" poster="//splendorintl.com/cdn/shop/files/preview_images/2951083ea2b549b6a7bbf1a5fe78ca52.thumbnail.0000000000.jpg?v=1741062091&amp;width=396" posterwidth="576" posterheight="1024" type="short" playlist-id="556219080172934430" playlist-style="CAROUSEL" reel-id="556219192395732254" controls="play" class="eco-pl__preview">
        
      <img loading="lazy" class="eco-poster" src="//splendorintl.com/cdn/shop/files/preview_images/2951083ea2b549b6a7bbf1a5fe78ca52.thumbnail.0000000000.jpg?v=1741062091&amp;width=396" width="576" height="1024" alt="poster">
    
        <video loop="" playsinline="true" webkit-playsinline="true" muted="" preload="auto" poster="//splendorintl.com/cdn/shop/files/preview_images/2951083ea2b549b6a7bbf1a5fe78ca52.thumbnail.0000000000.jpg?v=1741062091&amp;width=396" src="//splendorintl.com/cdn/shop/files/ecoboostify-reel-short-81c963d5-9517-4b29-8503-8379fdbadfd7.mp4?v=2685314269715450698">
          <source type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        
        
        
        
    <div class="eco-play-button ">
      <img src="https://cdn.shopify.com/s/files/1/0715/5151/6889/files/ecoboostify-generic-f606c0d0-0478-4a1d-b9aa-e50f5b3601a5.svg?v=1741062742" alt="Play icon">
    </div>
    
    </eco-reel>
      
    </div>
  </div>
  
    
    <div class="eco-pl__slide-badges">
      
    </div>
  
</div>
<!-- END app snippet -->
                        <div class="eco-pl__slide-info">
                          <p class="eco-pl__slide-title">Finally, a skin tint that truly blends in with my skin!</p>
                          
                        </div>
                      
                    </div>
                  </div>
                
                  
                  <div class="eco-sl-slide eco-sl-slide-next">
                    <div class="eco-pl__slide" data-reel-id="556219179410167070" data-products="[]" data-featured-video="{&quot;alt&quot;:&quot;ecoboostify-reel-manual-6aa36e14-b137-4351-b344-9b3554dad82e.mp4&quot;,&quot;id&quot;:36816037675225,&quot;position&quot;:null,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.563,&quot;height&quot;:1920,&quot;width&quot;:1080,&quot;src&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/files\/preview_images\/0fc15c8298c44052a0d8d2f661a347c8.thumbnail.0000000000.jpg?v=1741062091&quot;},&quot;aspect_ratio&quot;:0.563,&quot;duration&quot;:23710,&quot;media_type&quot;:&quot;video&quot;,&quot;sources&quot;:[{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:480,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/0fc15c8298c44052a0d8d2f661a347c8\/0fc15c8298c44052a0d8d2f661a347c8.SD-480p-0.9Mbps-43558630.mp4?v=0&quot;,&quot;width&quot;:270},{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:1080,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/0fc15c8298c44052a0d8d2f661a347c8\/0fc15c8298c44052a0d8d2f661a347c8.HD-1080p-2.5Mbps-43558630.mp4?v=0&quot;,&quot;width&quot;:606},{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:720,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/0fc15c8298c44052a0d8d2f661a347c8\/0fc15c8298c44052a0d8d2f661a347c8.HD-720p-1.6Mbps-43558630.mp4?v=0&quot;,&quot;width&quot;:404},{&quot;format&quot;:&quot;m3u8&quot;,&quot;height&quot;:1080,&quot;mime_type&quot;:&quot;application\/x-mpegURL&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/0fc15c8298c44052a0d8d2f661a347c8\/0fc15c8298c44052a0d8d2f661a347c8.m3u8?v=0&quot;,&quot;width&quot;:606}]}">
                      
                      
                        <!-- BEGIN app snippet: reel-card-template-1 --><div class="eco-pl__slide-frame-wrap">
  <div class="eco-pl__slide-frame">
    <div class="eco-pl__preview-wrap">
      
        <eco-reel loading="lazy" src="//splendorintl.com/cdn/shop/files/ecoboostify-reel-short-e4f6c1f8-84a6-45e1-bf76-f2194611c2e8.mp4?v=6923676288591449568" loop="" muted="" preload="auto" playsinline="" poster="//splendorintl.com/cdn/shop/files/preview_images/0fc15c8298c44052a0d8d2f661a347c8.thumbnail.0000000000.jpg?v=1741062091&amp;width=396" posterwidth="1080" posterheight="1920" type="short" playlist-id="556219080172934430" playlist-style="CAROUSEL" reel-id="556219179410167070" controls="play" class="eco-pl__preview">
        
      <img loading="lazy" class="eco-poster" src="//splendorintl.com/cdn/shop/files/preview_images/0fc15c8298c44052a0d8d2f661a347c8.thumbnail.0000000000.jpg?v=1741062091&amp;width=396" width="1080" height="1920" alt="poster">
    
        <video loop="" playsinline="true" webkit-playsinline="true" muted="" preload="auto" poster="//splendorintl.com/cdn/shop/files/preview_images/0fc15c8298c44052a0d8d2f661a347c8.thumbnail.0000000000.jpg?v=1741062091&amp;width=396" src="//splendorintl.com/cdn/shop/files/ecoboostify-reel-short-e4f6c1f8-84a6-45e1-bf76-f2194611c2e8.mp4?v=6923676288591449568">
          <source type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        
        
        
        
    <div class="eco-play-button ">
      <img src="https://cdn.shopify.com/s/files/1/0715/5151/6889/files/ecoboostify-generic-f606c0d0-0478-4a1d-b9aa-e50f5b3601a5.svg?v=1741062742" alt="Play icon">
    </div>
    
    </eco-reel>
      
    </div>
  </div>
  
    
    <div class="eco-pl__slide-badges">
      
    </div>
  
</div>
<!-- END app snippet -->
                        <div class="eco-pl__slide-info">
                          <p class="eco-pl__slide-title">Gives me that no-makeup makeup look!</p>
                          
                        </div>
                      
                    </div>
                  </div>
                
                  
                  <div class="eco-sl-slide">
                    <div class="eco-pl__slide" data-reel-id="556219187480007966" data-products="[]" data-featured-video="{&quot;alt&quot;:&quot;ecoboostify-reel-manual-a3402ff1-5be6-4ae9-be2f-de28fa8a908e.mp4&quot;,&quot;id&quot;:36816038625497,&quot;position&quot;:null,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.563,&quot;height&quot;:1920,&quot;width&quot;:1080,&quot;src&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/files\/preview_images\/75b2f51498ae4d1f806040d438dcf56e.thumbnail.0000000000.jpg?v=1741062096&quot;},&quot;aspect_ratio&quot;:0.563,&quot;duration&quot;:20080,&quot;media_type&quot;:&quot;video&quot;,&quot;sources&quot;:[{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:480,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/75b2f51498ae4d1f806040d438dcf56e\/75b2f51498ae4d1f806040d438dcf56e.SD-480p-0.9Mbps-43558636.mp4?v=0&quot;,&quot;width&quot;:270},{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:1080,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/75b2f51498ae4d1f806040d438dcf56e\/75b2f51498ae4d1f806040d438dcf56e.HD-1080p-2.5Mbps-43558636.mp4?v=0&quot;,&quot;width&quot;:606},{&quot;format&quot;:&quot;mp4&quot;,&quot;height&quot;:720,&quot;mime_type&quot;:&quot;video\/mp4&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/75b2f51498ae4d1f806040d438dcf56e\/75b2f51498ae4d1f806040d438dcf56e.HD-720p-1.6Mbps-43558636.mp4?v=0&quot;,&quot;width&quot;:404},{&quot;format&quot;:&quot;m3u8&quot;,&quot;height&quot;:1080,&quot;mime_type&quot;:&quot;application\/x-mpegURL&quot;,&quot;url&quot;:&quot;\/\/splendorintl.com\/cdn\/shop\/videos\/c\/vp\/75b2f51498ae4d1f806040d438dcf56e\/75b2f51498ae4d1f806040d438dcf56e.m3u8?v=0&quot;,&quot;width&quot;:606}]}">
                      
                      
                        <!-- BEGIN app snippet: reel-card-template-1 --><div class="eco-pl__slide-frame-wrap">
  <div class="eco-pl__slide-frame">
    <div class="eco-pl__preview-wrap">
      
        <eco-reel loading="lazy" src="//splendorintl.com/cdn/shop/files/ecoboostify-reel-short-9de7ac34-476a-418c-8d78-6df6a1831afa.mp4?v=15279306706967365925" loop="" muted="" preload="auto" playsinline="" poster="//splendorintl.com/cdn/shop/files/preview_images/75b2f51498ae4d1f806040d438dcf56e.thumbnail.0000000000.jpg?v=1741062096&amp;width=396" posterwidth="1080" posterheight="1920" type="short" playlist-id="556219080172934430" playlist-style="CAROUSEL" reel-id="556219187480007966" controls="play" class="eco-pl__preview">
        
      <img loading="lazy" class="eco-poster" src="//splendorintl.com/cdn/shop/files/preview_images/75b2f51498ae4d1f806040d438dcf56e.thumbnail.0000000000.jpg?v=1741062096&amp;width=396" width="1080" height="1920" alt="poster">
    
        <video loop="" playsinline="true" webkit-playsinline="true" muted="" preload="auto" poster="//splendorintl.com/cdn/shop/files/preview_images/75b2f51498ae4d1f806040d438dcf56e.thumbnail.0000000000.jpg?v=1741062096&amp;width=396" src="//splendorintl.com/cdn/shop/files/ecoboostify-reel-short-9de7ac34-476a-418c-8d78-6df6a1831afa.mp4?v=15279306706967365925">
          <source type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        
        
        
        
    <div class="eco-play-button ">
      <img src="https://cdn.shopify.com/s/files/1/0715/5151/6889/files/ecoboostify-generic-f606c0d0-0478-4a1d-b9aa-e50f5b3601a5.svg?v=1741062742" alt="Play icon">
    </div>
    
    </eco-reel>
      
    </div>
  </div>
  
    
    <div class="eco-pl__slide-badges">
      
    </div>
  
</div>
<!-- END app snippet -->
                        <div class="eco-pl__slide-info">
                          <p class="eco-pl__slide-title">So lightweight that I forget I’m even wearing makeup.</p>
                          
                        </div>
                      
                    </div>
                  </div>
                
              
            
          </div>

          
            <div class="eco-sl-button-next eco-sl-button-disabled eco-sl-button-lock">
              <svg viewBox="0 0 24 24" fill="currentColor">
                <path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path>
              </svg>
            </div>
            <div class="eco-sl-button-prev eco-sl-button-disabled eco-sl-button-lock">
              <svg viewBox="0 0 24 24" fill="currentColor">
                <path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path>
              </svg>
            </div>
          
        </div>

        
          <div class="eco-sl-pagination eco-sl-pagination--outside eco-sl-pagination-clickable eco-sl-pagination-bullets eco-sl-pagination-horizontal eco-sl-pagination-lock"><span class="eco-sl-pagination-bullet eco-sl-pagination-bullet-active"></span></div>
        
      </div>
    </eco-playlist>
  



</div>
        
      
    </div>
  
      </div>
      <style id="custom-css-g4p-BKg7tq">
        .g4p-BKg7tq {

}
.eco-pl-slider-wrapper{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
eco-reel .eco-play-button svg,
eco-reel .eco-play-button img{
    width: 64px !important;
    height: 64px !important;
}
.g4p-BKg7tq .eco-pl__slide-info{
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (min-width: 768px) {
    .eco-sl-button-next,
    .eco-sl-button-prev{
        display: none !important;
    }
}
.eco-pl__slide-frame{
   border-radius: 0 !important;
}
.eco-pl-slider--carousel .eco-sl-slide{
    background: #ffffff !important;
    border: 1.2px solid #DCCFC7 !important;
    overflow: hidden;
    padding-bottom: 24px;
    border-radius: 12px;
}
.eco-pl__slide-title{
    font-family: "Hanken Grotesk" !important;
    font-size: 17px !important;
    letter-spacing: 0.17px !important;
    line-height: 1.25 !important;
    color: #716C63 !important;
    font-style: italic !important;
    text-align: center !important;
    background-image: url(https://cdn.shopify.com/s/files/1/0715/5151/6889/files/gempages_534627086933951483-773dc6d6-f50f-47ad-9097-d0c1bf2cccad.svg);
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 21px !important;
    max-height: max-content !important;
    font-weight: 400 !important;
}


@media only screen and (max-width: 1024px) {
    .shopify-app-block[id*="g4p-BKg7tq"]{
        overflow: hidden;
        padding-bottom: 8px !important;
    }
    eco-reel .eco-play-button svg,
    eco-reel .eco-play-button img{
        width: 56px !important;
        height: 56px !important;
    }
    .eco-sl-button-next{
        height: 30px !important;
        width: 30px !important;
        background-image: url(https://cdn.shopify.com/s/files/1/0715/5151/6889/files/gempages_534627086933951483-6707119e-9f1a-4a4d-93f5-6f94c31d83c4.svg);
        background-size: contain !important;
        background-color: rgba(0,0,0,0) !important;
        border-radius: 50% !important;
        bottom: -63px !important;
        top: auto;
        left: 50%;
        transform: translateX(50px);
    }
    .eco-sl-button-prev{
        height: 30px !important;
        width: 30px !important;
        background-image: url(https://cdn.shopify.com/s/files/1/0248/0193/5415/files/gempages_554213814434792698-7894f943-9893-4038-9b62-69b3badef415.svg);
        background-size: contain !important;
        background-color: rgba(0,0,0,0) !important;
        border-radius: 50% !important;
        bottom: -63px !important;
        top: auto;
        left: auto;
        right: 50%;
        transform: translateX(-50px);
    }
    .eco-sl-button-prev svg,
    .eco-sl-button-next svg{
        display: none !important;
    }
    .eco-sl{
        overflow: visible !important;
        padding-left: 25px;
    }
    .eco-sl-pagination--outside{
        margin-top: 40px !important;
    }
    .eco-sl-pagination-bullet{
        background-color: #AE9F96 !important;
        height: 7px !important;
        width: 7px !important;
        border: 0.5px solid #ffffff !important;
        opacity: 1 !important;
    }
    .eco-sl-pagination-bullet.eco-sl-pagination-bullet-active{
        background-color: #AE9F96 !important;
        margin-right: 3px !important;
        margin-left: 3px !important;
        position: relative;
    }
    .eco-sl-pagination-bullet.eco-sl-pagination-bullet-active::after{
        border: 1px solid #AE9F96;
        content: "";
        height: 13px;
        width: 13px;
        display: block;
        position: absolute;
        top: -3px;
        left: -3px;
        border-radius: 50%;
        bottom: -3px;
        right: -3px;
    }
}
@media only screen and (max-width: 767px) {
    .eco-pl__slide-title{
        font-size: 15px !important;
        line-height: 1.2 !important;
        background-size: 14px auto;
        padding-top: 19px !important;
    }
}

      </style>
    
      <script id="custom-js-g4p-BKg7tq">
        try {
          //const currentElement = document.getElementsByClassName('g4p-BKg7tq');
        } catch(err){}
      </script>
    
    </div>
    </div>
   
    
      <style id="custom-css-gSS_x334iF">
        .gSS_x334iF {

}
      </style>
    
       
      
    <div enablelazyloadimage="true" parenttag="Col" id="g2XZY-zmRr" data-id="g2XZY-zmRr" style="--pt:17px;--pb:17px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--op:100%;--cg:90px;--cg-tablet:50px;--cg-mobile:16px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#8F7C6D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="g2XZY-zmRr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:center" class="gB7Gwyd7CN gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="gs2iv-AOKi">
    <div enablelazyloadimage="true" parenttag="Col" class="gs2iv-AOKi " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:26px;--size-mobile:24px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden">50k+</h2>
      </div>
    </div>
    </gp-text>
    
  
  <gp-text data-id="gKgddxvoNK">
    <div enablelazyloadimage="true" parenttag="Col" class="gKgddxvoNK " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:15px;--lh:135%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>Customers</p></div>
      </div>
    </div>
    </gp-text>
    
    </div><div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:center" class="g_TZnW7ly- gp-relative gp-flex gp-flex-col">
      <div gp-el-wrapper="" style="--pt:0px;--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gGelg-bnqL ">
      
    <div data-id="gGelg-bnqL" class="gp-flex gp-justify-start">
      <div style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bs:solid;--bbw:45px;--bbw-tablet:45px;--bbw-mobile:50px;--t:gp-rotate(0deg);--bc:#FFFFFF" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bc:#FFFFFF;--t:gp-rotate(0deg)">
        
    <div class="gp-hidden" style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bc:#FFFFFF;--bs:solid;--bbw:45px;--bbw-tablet:45px;--bbw-mobile:50px;--minw:1.2px"></div>
  
        
            <span class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none" style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)">
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z"></path></svg>
            </span>
          
        
            <span class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1" style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)">
              Title
            </span>
          
        
    <div class="gp-flex" style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bc:#FFFFFF;--bs:solid;--bbw:45px;--bbw-tablet:45px;--bbw-mobile:50px;--minw:1.2px"></div>
  
      </div>
    </div>
  
      </div>
    </div><div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:center" class="gUo4lqv76B gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="geSRwrTGzP">
    <div enablelazyloadimage="true" parenttag="Col" class="geSRwrTGzP " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:26px;--size-mobile:24px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden">100k+</h2>
      </div>
    </div>
    </gp-text>
    
  
  <gp-text data-id="gbgQAiC4Uw">
    <div enablelazyloadimage="true" parenttag="Col" class="gbgQAiC4Uw " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:15px;--lh:135%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>Tints Sold</p></div>
      </div>
    </div>
    </gp-text>
    
    </div><div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:center" class="gzIpH23kUz gp-relative gp-flex gp-flex-col">
      <div gp-el-wrapper="" style="--pt:0px;--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="g6vF9HBkx_ ">
      
    <div data-id="g6vF9HBkx_" class="gp-flex gp-justify-start">
      <div style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bs:solid;--bbw:45px;--bbw-tablet:45px;--bbw-mobile:50px;--t:gp-rotate(0deg);--bc:#FFFFFF" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bc:#FFFFFF;--t:gp-rotate(0deg)">
        
    <div class="gp-hidden" style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bc:#FFFFFF;--bs:solid;--bbw:45px;--bbw-tablet:45px;--bbw-mobile:50px;--minw:1.2px"></div>
  
        
            <span class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none" style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)">
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z"></path></svg>
            </span>
          
        
            <span class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1" style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)">
              Title
            </span>
          
        
    <div class="gp-flex" style="--w:1.2px;--w-tablet:1.2px;--w-mobile:1.2px;--bc:#FFFFFF;--bs:solid;--bbw:45px;--bbw-tablet:45px;--bbw-mobile:50px;--minw:1.2px"></div>
  
      </div>
    </div>
  
      </div>
    </div><div enablelazyloadimage="true" tag="Col" label="Block" type="component" style="--jc:center" class="gSJD3Ym8kS gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="grg66WbYnP">
    <div enablelazyloadimage="true" parenttag="Col" class="grg66WbYnP " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:26px;--size-mobile:24px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden">10k+</h2>
      </div>
    </div>
    </gp-text>
    
  
  <gp-text data-id="gI5hcvF3c5">
    <div enablelazyloadimage="true" parenttag="Col" class="gI5hcvF3c5 " style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:15px;--lh:135%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>5 Star Ratings</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div></div></div>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-566394482161878031 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e1q3vs-mx/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=566327984089269205&sectionId=566394482161878031)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
