

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566615858533631057.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566615858533631057.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-566615858533631057.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566615858533631057.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566615858533631057.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-566615858533631057.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566615858533631057.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566615858533631057.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566615858533631057.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566615858533631057.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566615858533631057.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-566615858533631057.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566615858533631057.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566615858533631057.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-566615858533631057.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-566615858533631057.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-566615858533631057.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-566615858533631057.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566615858533631057.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-566615858533631057.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-566615858533631057.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-566615858533631057.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-566615858533631057.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566615858533631057.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-566615858533631057.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566615858533631057.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566615858533631057.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-566615858533631057.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566615858533631057.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-566615858533631057.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566615858533631057.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566615858533631057.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566615858533631057.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-566615858533631057.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566615858533631057.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566615858533631057.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566615858533631057.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-566615858533631057.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566615858533631057.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566615858533631057.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566615858533631057.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-566615858533631057.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-566615858533631057.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-566615858533631057.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566615858533631057.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566615858533631057.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566615858533631057.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566615858533631057.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566615858533631057.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566615858533631057.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566615858533631057.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566615858533631057.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566615858533631057.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-566615858533631057.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-566615858533631057.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566615858533631057.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566615858533631057.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566615858533631057.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-566615858533631057.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566615858533631057.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566615858533631057.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566615858533631057.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-566615858533631057.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-566615858533631057.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-566615858533631057.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-566615858533631057.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-566615858533631057.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566615858533631057.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566615858533631057.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-566615858533631057.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566615858533631057.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566615858533631057.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566615858533631057.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-566615858533631057.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566615858533631057.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566615858533631057.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566615858533631057.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566615858533631057.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-566615858533631057.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566615858533631057.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566615858533631057.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566615858533631057.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566615858533631057.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566615858533631057.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566615858533631057 .-gp-rotate-90,.gps-566615858533631057 .gp-rotate-180,.gps-566615858533631057 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-566615858533631057 .gp-relative{position:relative}.gps-566615858533631057 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566615858533631057 .gp-mb-0{margin-bottom:0}.gps-566615858533631057 .gp-flex{display:flex}.gps-566615858533631057 .gp-inline-flex{display:inline-flex}.gps-566615858533631057 .gp-grid{display:grid}.gps-566615858533631057 .\!gp-hidden{display:none!important}.gps-566615858533631057 .gp-hidden{display:none}.gps-566615858533631057 .gp-min-h-0{min-height:0}.gps-566615858533631057 .gp-w-full{width:100%}.gps-566615858533631057 .gp-max-w-full{max-width:100%}.gps-566615858533631057 .-gp-rotate-90{--tw-rotate:-90deg}.gps-566615858533631057 .-gp-rotate-90,.gps-566615858533631057 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-566615858533631057 .gp-rotate-180{--tw-rotate:180deg}.gps-566615858533631057 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-566615858533631057 .gp-cursor-pointer{cursor:pointer}.gps-566615858533631057 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566615858533631057 .gp-flex-col{flex-direction:column}.gps-566615858533631057 .gp-items-center{align-items:center}.gps-566615858533631057 .gp-justify-center{justify-content:center}.gps-566615858533631057 .gp-gap-y-0{row-gap:0}.gps-566615858533631057 .gp-overflow-hidden{overflow:hidden}.gps-566615858533631057 .gp-overflow-clip{overflow:clip}.gps-566615858533631057 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566615858533631057 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566615858533631057 .gp-duration-200{transition-duration:.2s}.gps-566615858533631057 .gp-duration-500{transition-duration:.5s}.gps-566615858533631057 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-566615858533631057 .tablet\:\!gp-hidden{display:none!important}.gps-566615858533631057 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-566615858533631057 .mobile\:\!gp-hidden{display:none!important}.gps-566615858533631057 .mobile\:gp-hidden{display:none}}.gps-566615858533631057 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gqJ3ip1703" data-id="gqJ3ip1703"
        style="--blockPadding:base;--mt:-32px;--pt:0px;--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqJ3ip1703 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gc-JvZUoUv gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g3Ua24254p "
    ><div><section class="gp-mx-auto gp-max-w-full" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px">
              
    <div enablelazyloadimage="true" id="gs6nqJu8i6" data-id="gs6nqJu8i6" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:103px;--pl:20px;--pb:93px;--pr:20px;--pt-mobile:80px;--pl-mobile:20px;--pb-mobile:80px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url(//splendorintl.com/cdn/shop/files/gempages_534627086933951483-663835ee-a389-49f6-8b13-ad898f069a5f.svg?v=18127221622835016828);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gs6nqJu8i6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" label="Block" tag="Col" type="component" style="--jc:start" class="gRC-vz2K_L gp-relative gp-flex gp-flex-col">
      
       
      
    <div enablelazyloadimage="true" parenttag="Col" id="gPD7UHs021" data-id="gPD7UHs021" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:36px;--cg-tablet:16px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:720px;--w-tablet:720px;--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gPD7UHs021 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full">
    <div enablelazyloadimage="true" label="Block" tag="Col" type="component" style="--jc:start" class="g8TXf2qQP5 gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="gxlbvKT94T">
    <div enablelazyloadimage="true" parenttag="Col" class="gxlbvKT94T " style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--mb:34px;--mt-mobile:0px">
      <div class="gp-flex" style="--jc:left">
        <h3 data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Minerva-Modern, 'Minerva Modern'), var(--g-font-heading, heading);--weight:400;--ls:0.98px;--size:35px;--size-tablet:32px;--size-mobile:28px;--lh:115%;--lh-tablet:115%;--lh-mobile:115%;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden">FAQ</h3>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper="" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="grbaMPT1xT ">
      
    <gp-accordion data-id="grbaMPT1xT" uid="grbaMPT1xT" class="gp-flex gp-w-full gp-flex-col " style="--gg:15px;--gg-mobile:13px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit" gp-data="{&quot;setting&quot;:{&quot;iconSvg&quot;:&quot;<svg width=\&quot;17\&quot; height=\&quot;16\&quot; viewBox=\&quot;0 0 17 16\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;>\n                  <path d=\&quot;M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\&quot; fill=\&quot;currentColor\&quot;/>\n                  </svg>&quot;,&quot;isIconPlus&quot;:false,&quot;activeKey&quot;:&quot;1&quot;,&quot;expanded&quot;:false,&quot;expandItem&quot;:false,&quot;iconPosition&quot;:&quot;left&quot;,&quot;iconGlobalSize&quot;:{&quot;desktop&quot;:{&quot;gap&quot;:&quot;16px&quot;}},&quot;iconCollapse&quot;:&quot;<svg data-id=\&quot;555967079140819933\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot; width=\&quot;27\&quot; height=\&quot;28\&quot; viewBox=\&quot;0 0 27 28\&quot; fill=\&quot;none\&quot;>\n<circle cx=\&quot;13.624\&quot; cy=\&quot;13.8516\&quot; r=\&quot;12.9466\&quot; fill=\&quot;white\&quot; stroke=\&quot;#2D2E31\&quot; stroke-width=\&quot;0.438867\&quot;/>\n<mask id=\&quot;path-2-outside-1_101_5905\&quot; maskUnits=\&quot;userSpaceOnUse\&quot; x=\&quot;8.86035\&quot; y=\&quot;7.73633\&quot; width=\&quot;11\&quot; height=\&quot;12\&quot; fill=\&quot;black\&quot;>\n<rect fill=\&quot;white\&quot; x=\&quot;8.86035\&quot; y=\&quot;7.73633\&quot; width=\&quot;11\&quot; height=\&quot;12\&quot;/>\n<path d=\&quot;M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z\&quot;/>\n</mask>\n<path d=\&quot;M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z\&quot; fill=\&quot;#5A5151\&quot;/>\n<path d=\&quot;M19.2018 14.2903V14.7291H19.6407V14.2903H19.2018ZM14.9739 14.2903V13.8514H14.5351V14.2903H14.9739ZM14.9739 18.556V18.9949H15.4128V18.556H14.9739ZM13.7416 18.556H13.3027V18.9949H13.7416V18.556ZM13.7416 14.2903H14.1805V13.8514H13.7416V14.2903ZM9.53268 14.2903H9.09382V14.7291H9.53268V14.2903ZM9.53268 13.1527V12.7138H9.09382V13.1527H9.53268ZM13.7416 13.1527V13.5916H14.1805V13.1527H13.7416ZM13.7416 8.88692V8.44806H13.3027V8.88692H13.7416ZM14.9739 8.88692H15.4128V8.44806H14.9739V8.88692ZM14.9739 13.1527H14.5351V13.5916H14.9739V13.1527ZM19.2018 13.1527H19.6407V12.7138H19.2018V13.1527ZM19.2018 13.8514H14.9739V14.7291H19.2018V13.8514ZM14.5351 14.2903V18.556H15.4128V14.2903H14.5351ZM14.9739 18.1172H13.7416V18.9949H14.9739V18.1172ZM14.1805 18.556V14.2903H13.3027V18.556H14.1805ZM13.7416 13.8514H9.53268V14.7291H13.7416V13.8514ZM9.97155 14.2903V13.1527H9.09382V14.2903H9.97155ZM9.53268 13.5916H13.7416V12.7138H9.53268V13.5916ZM14.1805 13.1527V8.88692H13.3027V13.1527H14.1805ZM13.7416 9.32579H14.9739V8.44806H13.7416V9.32579ZM14.5351 8.88692V13.1527H15.4128V8.88692H14.5351ZM14.9739 13.5916H19.2018V12.7138H14.9739V13.5916ZM18.7629 13.1527V14.2903H19.6407V13.1527H18.7629Z\&quot; fill=\&quot;#2D2E31\&quot; mask=\&quot;url(#path-2-outside-1_101_5905)\&quot;/>\n</svg>&quot;,&quot;iconExpand&quot;:&quot;<svg data-id=\&quot;555967099021820866\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot; width=\&quot;27\&quot; height=\&quot;28\&quot; viewBox=\&quot;0 0 27 28\&quot; fill=\&quot;none\&quot;>\n<circle cx=\&quot;13.624\&quot; cy=\&quot;13.8516\&quot; r=\&quot;12.9466\&quot; fill=\&quot;white\&quot; stroke=\&quot;#2D2E31\&quot; stroke-width=\&quot;0.438867\&quot;/>\n<mask id=\&quot;path-2-outside-1_101_5870\&quot; maskUnits=\&quot;userSpaceOnUse\&quot; x=\&quot;8.86035\&quot; y=\&quot;11.7363\&quot; width=\&quot;9\&quot; height=\&quot;3\&quot; fill=\&quot;black\&quot;>\n<rect fill=\&quot;white\&quot; x=\&quot;8.86035\&quot; y=\&quot;11.7363\&quot; width=\&quot;9\&quot; height=\&quot;3\&quot;/>\n<path d=\&quot;M16.8885 13.1527V14.2713H9.51347V13.1527H16.8885Z\&quot;/>\n</mask>\n<path d=\&quot;M16.8885 13.1527V14.2713H9.51347V13.1527H16.8885Z\&quot; fill=\&quot;#5A5151\&quot;/>\n<path d=\&quot;M16.8885 13.1527H17.3274V12.7138H16.8885V13.1527ZM16.8885 14.2713V14.7102H17.3274V14.2713H16.8885ZM9.51347 14.2713H9.0746V14.7102H9.51347V14.2713ZM9.51347 13.1527V12.7138H9.0746V13.1527H9.51347ZM16.4497 13.1527V14.2713H17.3274V13.1527H16.4497ZM16.8885 13.8324H9.51347V14.7102H16.8885V13.8324ZM9.95234 14.2713V13.1527H9.0746V14.2713H9.95234ZM9.51347 13.5916H16.8885V12.7138H9.51347V13.5916Z\&quot; fill=\&quot;#2D2E31\&quot; mask=\&quot;url(#path-2-outside-1_101_5870)\&quot;/>\n</svg>&quot;,&quot;iconCollapseSize&quot;:27,&quot;layoutHeader&quot;:&quot;text-only&quot;,&quot;expandedMode&quot;:&quot;single&quot;,&quot;configIconSize&quot;:16,&quot;parentUid&quot;:&quot;grbaMPT1xT&quot;,&quot;childListNumber&quot;:[],&quot;chidlrenUid&quot;:[&quot;gfHY5mWQS3&quot;,&quot;gX-HZDFD28&quot;,&quot;g0Ys3bo3RW&quot;,&quot;gKFxYFngog&quot;,&quot;gptimf-io9&quot;]},&quot;styles&quot;:{&quot;bgColor&quot;:{&quot;active&quot;:&quot;#FBF1E8&quot;,&quot;hover&quot;:&quot;#FBF1E8&quot;,&quot;normal&quot;:&quot;#FBF1E8&quot;},&quot;color&quot;:{&quot;active&quot;:&quot;#121212&quot;,&quot;hover&quot;:&quot;#121212&quot;,&quot;normal&quot;:&quot;#121212&quot;},&quot;headerBorder&quot;:{&quot;active&quot;:{&quot;border&quot;:&quot;none&quot;,&quot;borderWidth&quot;:&quot;Mixed&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 1px 0px&quot;},&quot;hover&quot;:{&quot;border&quot;:&quot;none&quot;,&quot;borderWidth&quot;:&quot;Mixed&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 1px 0px&quot;},&quot;normal&quot;:{&quot;border&quot;:&quot;none&quot;,&quot;borderWidth&quot;:&quot;Mixed&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 1px 0px&quot;}},&quot;textColor&quot;:{&quot;active&quot;:&quot;#273534&quot;,&quot;hover&quot;:&quot;#273534&quot;,&quot;normal&quot;:&quot;#273534&quot;},&quot;iconColor&quot;:{&quot;active&quot;:&quot;#121212&quot;,&quot;hover&quot;:&quot;#121212&quot;,&quot;normal&quot;:&quot;#121212&quot;},&quot;contentSizePadding&quot;:{&quot;desktop&quot;:{&quot;gap&quot;:&quot;15px&quot;,&quot;padding&quot;:{&quot;bottom&quot;:&quot;32px&quot;,&quot;left&quot;:&quot;32px&quot;,&quot;right&quot;:&quot;32px&quot;,&quot;top&quot;:&quot;25px&quot;,&quot;type&quot;:&quot;custom&quot;}},&quot;mobile&quot;:{&quot;customShapeValue&quot;:&quot;&quot;,&quot;gap&quot;:&quot;13px&quot;,&quot;height&quot;:&quot;&quot;,&quot;padding&quot;:{&quot;bottom&quot;:&quot;26px&quot;,&quot;left&quot;:&quot;26px&quot;,&quot;right&quot;:&quot;26px&quot;,&quot;top&quot;:&quot;21px&quot;,&quot;type&quot;:&quot;custom&quot;},&quot;shape&quot;:&quot;&quot;,&quot;shapeValue&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;}},&quot;headerContentPadding&quot;:{&quot;desktop&quot;:{&quot;gap&quot;:&quot;&quot;,&quot;padding&quot;:{&quot;bottom&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;14px&quot;,&quot;right&quot;:&quot;14px&quot;,&quot;top&quot;:&quot;20px&quot;,&quot;type&quot;:&quot;custom&quot;}},&quot;mobile&quot;:{&quot;customShapeValue&quot;:&quot;&quot;,&quot;gap&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;,&quot;padding&quot;:{&quot;bottom&quot;:&quot;10px&quot;,&quot;left&quot;:&quot;12px&quot;,&quot;right&quot;:&quot;12px&quot;,&quot;top&quot;:&quot;10px&quot;,&quot;type&quot;:&quot;custom&quot;},&quot;shape&quot;:&quot;&quot;,&quot;shapeValue&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;}},&quot;widthHeightSize&quot;:{&quot;desktop&quot;:{&quot;height&quot;:&quot;auto&quot;,&quot;width&quot;:&quot;100%&quot;}}},&quot;uid&quot;:&quot;grbaMPT1xT&quot;}">
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div class="gp-flex" style="--jc:center">
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:27px;--height-configIconSize:16px;--bs:solid;--bw:2.4px 2.4px 2.4px 2.4px;--bc:#ffffff;--bg:#FFFFFF;--shadow:none;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px">
    <div data-index="0" class="grbaMPT1xT gp-accordion-item gp-overflow-hidden gp-child-item-grbaMPT1xT" style="scrollBehavior:smooth">
      <div aria-hidden="" uid="gfHY5mWQS3" id="gfHY5mWQS3" data-index="0" class="grbaMPT1xT gp-accordion-item-grbaMPT1xT-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer" style="--pl:14px;--pr:14px;--pt:20px;--pb:20px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#FBF1E8;--bgc:#FBF1E8;--hvr-c:#273534;--c:#273534;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
       <style class="accordion-style">.gp-accordion-item-grbaMPT1xT-0:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span style="--hvr-c:#121212;--c:#121212;width:27px;height:27px" data-index="0" class="grbaMPT1xT gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;>svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;>svg]:!gp-w-auto"><svg data-id="555967079140819933" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
<circle cx="13.624" cy="13.8516" r="12.9466" fill="white" stroke="#2D2E31" stroke-width="0.438867"></circle>
<mask id="path-2-outside-1_101_5905" maskUnits="userSpaceOnUse" x="8.86035" y="7.73633" width="11" height="12" fill="black">
<rect fill="white" x="8.86035" y="7.73633" width="11" height="12"></rect>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z"></path>
</mask>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z" fill="#5A5151"></path>
<path d="M19.2018 14.2903V14.7291H19.6407V14.2903H19.2018ZM14.9739 14.2903V13.8514H14.5351V14.2903H14.9739ZM14.9739 18.556V18.9949H15.4128V18.556H14.9739ZM13.7416 18.556H13.3027V18.9949H13.7416V18.556ZM13.7416 14.2903H14.1805V13.8514H13.7416V14.2903ZM9.53268 14.2903H9.09382V14.7291H9.53268V14.2903ZM9.53268 13.1527V12.7138H9.09382V13.1527H9.53268ZM13.7416 13.1527V13.5916H14.1805V13.1527H13.7416ZM13.7416 8.88692V8.44806H13.3027V8.88692H13.7416ZM14.9739 8.88692H15.4128V8.44806H14.9739V8.88692ZM14.9739 13.1527H14.5351V13.5916H14.9739V13.1527ZM19.2018 13.1527H19.6407V12.7138H19.2018V13.1527ZM19.2018 13.8514H14.9739V14.7291H19.2018V13.8514ZM14.5351 14.2903V18.556H15.4128V14.2903H14.5351ZM14.9739 18.1172H13.7416V18.9949H14.9739V18.1172ZM14.1805 18.556V14.2903H13.3027V18.556H14.1805ZM13.7416 13.8514H9.53268V14.7291H13.7416V13.8514ZM9.97155 14.2903V13.1527H9.09382V14.2903H9.97155ZM9.53268 13.5916H13.7416V12.7138H9.53268V13.5916ZM14.1805 13.1527V8.88692H13.3027V13.1527H14.1805ZM13.7416 9.32579H14.9739V8.44806H13.7416V9.32579ZM14.5351 8.88692V13.1527H15.4128V8.88692H14.5351ZM14.9739 13.5916H19.2018V12.7138H14.9739V13.5916ZM18.7629 13.1527V14.2903H19.6407V13.1527H18.7629Z" fill="#2D2E31" mask="url(#path-2-outside-1_101_5905)"></path>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  
  <gp-text data-id="">
    <div class=" ">
      <div>
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-overflow-hidden" style="--w:100%;--ts:none;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.14px;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:164%;--lh-tablet:164%;--lh-mobile:158%;--tt:uppercase;word-break:break-word;overflow:hidden"><p>What skin types is this product suitable for?</p></div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div uid="gfHY5mWQS3" data-index="0" class="grbaMPT1xT gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div uid="gfHY5mWQS3" data-index="0" class="grbaMPT1xT gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500" style="--pl: 32px; --pr: 32px; --pt: 25px; --pb: 32px; --pl-mobile: 26px; --pr-mobile: 26px; --pt-mobile: 21px; --pb-mobile: 26px;">
            <div enablelazyloadimage="true" label="Block" tag="Col" type="component" class="gOKq-d1K78 gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="g643-6xnkD">
    <div enablelazyloadimage="true" parenttag="Col" class="g643-6xnkD " style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.17px;--size:17px;--size-tablet:16px;--size-mobile:15px;--lh:145%;--lh-tablet:145%;--lh-mobile:140%;--c:#756E6E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>The Beauty Balm is designed for all skin types, including sensitive, dry, oily, and combination skin. Its lightweight, non-comedogenic formula works to hydrate and balance your skin without clogging pores.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div class="gp-flex" style="--jc:center">
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:27px;--height-configIconSize:16px;--bs:solid;--bw:2.4px 2.4px 2.4px 2.4px;--bc:#ffffff;--bg:#FFFFFF;--shadow:none;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px">
    <div data-index="1" class="grbaMPT1xT gp-accordion-item gp-overflow-hidden gp-child-item-grbaMPT1xT" style="scrollBehavior:smooth">
      <div aria-hidden="" uid="gX-HZDFD28" id="gX-HZDFD28" data-index="1" class="grbaMPT1xT gp-accordion-item-grbaMPT1xT-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer" style="--pl:14px;--pr:14px;--pt:20px;--pb:20px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#FBF1E8;--bgc:#FBF1E8;--hvr-c:#273534;--c:#273534;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
       <style class="accordion-style">.gp-accordion-item-grbaMPT1xT-1:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span style="--hvr-c:#121212;--c:#121212;width:27px;height:27px" data-index="1" class="grbaMPT1xT gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;>svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;>svg]:!gp-w-auto"><svg data-id="555967079140819933" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
<circle cx="13.624" cy="13.8516" r="12.9466" fill="white" stroke="#2D2E31" stroke-width="0.438867"></circle>
<mask id="path-2-outside-1_101_5905" maskUnits="userSpaceOnUse" x="8.86035" y="7.73633" width="11" height="12" fill="black">
<rect fill="white" x="8.86035" y="7.73633" width="11" height="12"></rect>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z"></path>
</mask>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z" fill="#5A5151"></path>
<path d="M19.2018 14.2903V14.7291H19.6407V14.2903H19.2018ZM14.9739 14.2903V13.8514H14.5351V14.2903H14.9739ZM14.9739 18.556V18.9949H15.4128V18.556H14.9739ZM13.7416 18.556H13.3027V18.9949H13.7416V18.556ZM13.7416 14.2903H14.1805V13.8514H13.7416V14.2903ZM9.53268 14.2903H9.09382V14.7291H9.53268V14.2903ZM9.53268 13.1527V12.7138H9.09382V13.1527H9.53268ZM13.7416 13.1527V13.5916H14.1805V13.1527H13.7416ZM13.7416 8.88692V8.44806H13.3027V8.88692H13.7416ZM14.9739 8.88692H15.4128V8.44806H14.9739V8.88692ZM14.9739 13.1527H14.5351V13.5916H14.9739V13.1527ZM19.2018 13.1527H19.6407V12.7138H19.2018V13.1527ZM19.2018 13.8514H14.9739V14.7291H19.2018V13.8514ZM14.5351 14.2903V18.556H15.4128V14.2903H14.5351ZM14.9739 18.1172H13.7416V18.9949H14.9739V18.1172ZM14.1805 18.556V14.2903H13.3027V18.556H14.1805ZM13.7416 13.8514H9.53268V14.7291H13.7416V13.8514ZM9.97155 14.2903V13.1527H9.09382V14.2903H9.97155ZM9.53268 13.5916H13.7416V12.7138H9.53268V13.5916ZM14.1805 13.1527V8.88692H13.3027V13.1527H14.1805ZM13.7416 9.32579H14.9739V8.44806H13.7416V9.32579ZM14.5351 8.88692V13.1527H15.4128V8.88692H14.5351ZM14.9739 13.5916H19.2018V12.7138H14.9739V13.5916ZM18.7629 13.1527V14.2903H19.6407V13.1527H18.7629Z" fill="#2D2E31" mask="url(#path-2-outside-1_101_5905)"></path>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  
  <gp-text data-id="">
    <div class=" ">
      <div>
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-overflow-hidden" style="--w:100%;--ts:none;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.14px;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:164%;--lh-tablet:164%;--lh-mobile:158%;--tt:uppercase;word-break:break-word;overflow:hidden"><p>Does this product provide enough coverage for blemishes or redness?</p></div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div uid="gX-HZDFD28" data-index="1" class="grbaMPT1xT gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div uid="gX-HZDFD28" data-index="1" class="grbaMPT1xT gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500" style="--pl: 32px; --pr: 32px; --pt: 25px; --pb: 32px; --pl-mobile: 26px; --pr-mobile: 26px; --pt-mobile: 21px; --pb-mobile: 26px;">
            <div enablelazyloadimage="true" label="Block" tag="Col" type="component" class="g07ycwki3E gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="gR3Ccud6Wj">
    <div enablelazyloadimage="true" parenttag="Col" class="gR3Ccud6Wj " style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:0px;--mb-tablet:0px">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:15px;--size-mobile:13px;--lh:147%;--lh-tablet:147%;--lh-mobile:147%;--c:#695A5A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>This product offers sheer-to-light coverage, perfect for evening out skin tone and providing a natural finish. For heavier coverage, you can layer it, but it’s ideal for those looking for a lightweight, natural look.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div class="gp-flex" style="--jc:center">
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:27px;--height-configIconSize:16px;--bs:solid;--bw:2.4px 2.4px 2.4px 2.4px;--bc:#ffffff;--bg:#FFFFFF;--shadow:none;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px">
    <div data-index="2" class="grbaMPT1xT gp-accordion-item gp-overflow-hidden gp-child-item-grbaMPT1xT" style="scrollBehavior:smooth">
      <div aria-hidden="" uid="g0Ys3bo3RW" id="g0Ys3bo3RW" data-index="2" class="grbaMPT1xT gp-accordion-item-grbaMPT1xT-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer" style="--pl:14px;--pr:14px;--pt:20px;--pb:20px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#FBF1E8;--bgc:#FBF1E8;--hvr-c:#273534;--c:#273534;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
       <style class="accordion-style">.gp-accordion-item-grbaMPT1xT-2:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span style="--hvr-c:#121212;--c:#121212;width:27px;height:27px" data-index="2" class="grbaMPT1xT gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;>svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;>svg]:!gp-w-auto"><svg data-id="555967079140819933" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
<circle cx="13.624" cy="13.8516" r="12.9466" fill="white" stroke="#2D2E31" stroke-width="0.438867"></circle>
<mask id="path-2-outside-1_101_5905" maskUnits="userSpaceOnUse" x="8.86035" y="7.73633" width="11" height="12" fill="black">
<rect fill="white" x="8.86035" y="7.73633" width="11" height="12"></rect>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z"></path>
</mask>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z" fill="#5A5151"></path>
<path d="M19.2018 14.2903V14.7291H19.6407V14.2903H19.2018ZM14.9739 14.2903V13.8514H14.5351V14.2903H14.9739ZM14.9739 18.556V18.9949H15.4128V18.556H14.9739ZM13.7416 18.556H13.3027V18.9949H13.7416V18.556ZM13.7416 14.2903H14.1805V13.8514H13.7416V14.2903ZM9.53268 14.2903H9.09382V14.7291H9.53268V14.2903ZM9.53268 13.1527V12.7138H9.09382V13.1527H9.53268ZM13.7416 13.1527V13.5916H14.1805V13.1527H13.7416ZM13.7416 8.88692V8.44806H13.3027V8.88692H13.7416ZM14.9739 8.88692H15.4128V8.44806H14.9739V8.88692ZM14.9739 13.1527H14.5351V13.5916H14.9739V13.1527ZM19.2018 13.1527H19.6407V12.7138H19.2018V13.1527ZM19.2018 13.8514H14.9739V14.7291H19.2018V13.8514ZM14.5351 14.2903V18.556H15.4128V14.2903H14.5351ZM14.9739 18.1172H13.7416V18.9949H14.9739V18.1172ZM14.1805 18.556V14.2903H13.3027V18.556H14.1805ZM13.7416 13.8514H9.53268V14.7291H13.7416V13.8514ZM9.97155 14.2903V13.1527H9.09382V14.2903H9.97155ZM9.53268 13.5916H13.7416V12.7138H9.53268V13.5916ZM14.1805 13.1527V8.88692H13.3027V13.1527H14.1805ZM13.7416 9.32579H14.9739V8.44806H13.7416V9.32579ZM14.5351 8.88692V13.1527H15.4128V8.88692H14.5351ZM14.9739 13.5916H19.2018V12.7138H14.9739V13.5916ZM18.7629 13.1527V14.2903H19.6407V13.1527H18.7629Z" fill="#2D2E31" mask="url(#path-2-outside-1_101_5905)"></path>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  
  <gp-text data-id="">
    <div class=" ">
      <div>
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-overflow-hidden" style="--w:100%;--ts:none;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.14px;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:164%;--lh-tablet:164%;--lh-mobile:158%;--tt:uppercase;word-break:break-word;overflow:hidden"><p>Is this product cruelty-free and vegan?</p></div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div uid="g0Ys3bo3RW" data-index="2" class="grbaMPT1xT gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div uid="g0Ys3bo3RW" data-index="2" class="grbaMPT1xT gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500" style="--pl: 32px; --pr: 32px; --pt: 25px; --pb: 32px; --pl-mobile: 26px; --pr-mobile: 26px; --pt-mobile: 21px; --pb-mobile: 26px;">
            <div enablelazyloadimage="true" label="Block" tag="Col" type="component" class="gyl8HIF9IA gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="g3S2wcd6JG">
    <div enablelazyloadimage="true" parenttag="Col" class="g3S2wcd6JG " style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:15px;--size-mobile:13px;--lh:147%;--lh-tablet:147%;--lh-mobile:147%;--c:#695A5A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>Yes! The Beauty Balm is 100% cruelty-free and vegan, making it a great choice for ethically conscious beauty lovers.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div class="gp-flex" style="--jc:center">
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:27px;--height-configIconSize:16px;--bs:solid;--bw:2.4px 2.4px 2.4px 2.4px;--bc:#ffffff;--bg:#FFFFFF;--shadow:none;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px">
    <div data-index="3" class="grbaMPT1xT gp-accordion-item gp-overflow-hidden gp-child-item-grbaMPT1xT" style="scrollBehavior:smooth">
      <div aria-hidden="" uid="gKFxYFngog" id="gKFxYFngog" data-index="3" class="grbaMPT1xT gp-accordion-item-grbaMPT1xT-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer" style="--pl:14px;--pr:14px;--pt:20px;--pb:20px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#FBF1E8;--bgc:#FBF1E8;--hvr-c:#273534;--c:#273534;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
       <style class="accordion-style">.gp-accordion-item-grbaMPT1xT-3:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span style="--hvr-c:#121212;--c:#121212;width:27px;height:27px" data-index="3" class="grbaMPT1xT gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;>svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;>svg]:!gp-w-auto"><svg data-id="555967079140819933" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
<circle cx="13.624" cy="13.8516" r="12.9466" fill="white" stroke="#2D2E31" stroke-width="0.438867"></circle>
<mask id="path-2-outside-1_101_5905" maskUnits="userSpaceOnUse" x="8.86035" y="7.73633" width="11" height="12" fill="black">
<rect fill="white" x="8.86035" y="7.73633" width="11" height="12"></rect>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z"></path>
</mask>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z" fill="#5A5151"></path>
<path d="M19.2018 14.2903V14.7291H19.6407V14.2903H19.2018ZM14.9739 14.2903V13.8514H14.5351V14.2903H14.9739ZM14.9739 18.556V18.9949H15.4128V18.556H14.9739ZM13.7416 18.556H13.3027V18.9949H13.7416V18.556ZM13.7416 14.2903H14.1805V13.8514H13.7416V14.2903ZM9.53268 14.2903H9.09382V14.7291H9.53268V14.2903ZM9.53268 13.1527V12.7138H9.09382V13.1527H9.53268ZM13.7416 13.1527V13.5916H14.1805V13.1527H13.7416ZM13.7416 8.88692V8.44806H13.3027V8.88692H13.7416ZM14.9739 8.88692H15.4128V8.44806H14.9739V8.88692ZM14.9739 13.1527H14.5351V13.5916H14.9739V13.1527ZM19.2018 13.1527H19.6407V12.7138H19.2018V13.1527ZM19.2018 13.8514H14.9739V14.7291H19.2018V13.8514ZM14.5351 14.2903V18.556H15.4128V14.2903H14.5351ZM14.9739 18.1172H13.7416V18.9949H14.9739V18.1172ZM14.1805 18.556V14.2903H13.3027V18.556H14.1805ZM13.7416 13.8514H9.53268V14.7291H13.7416V13.8514ZM9.97155 14.2903V13.1527H9.09382V14.2903H9.97155ZM9.53268 13.5916H13.7416V12.7138H9.53268V13.5916ZM14.1805 13.1527V8.88692H13.3027V13.1527H14.1805ZM13.7416 9.32579H14.9739V8.44806H13.7416V9.32579ZM14.5351 8.88692V13.1527H15.4128V8.88692H14.5351ZM14.9739 13.5916H19.2018V12.7138H14.9739V13.5916ZM18.7629 13.1527V14.2903H19.6407V13.1527H18.7629Z" fill="#2D2E31" mask="url(#path-2-outside-1_101_5905)"></path>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  
  <gp-text data-id="">
    <div class=" ">
      <div>
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-overflow-hidden" style="--w:100%;--ts:none;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.14px;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:164%;--lh-tablet:164%;--lh-mobile:158%;--tt:uppercase;word-break:break-word;overflow:hidden"><p>Does this product contain fragrance or harsh chemicals?</p></div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div uid="gKFxYFngog" data-index="3" class="grbaMPT1xT gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div uid="gKFxYFngog" data-index="3" class="grbaMPT1xT gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500" style="--pl: 32px; --pr: 32px; --pt: 25px; --pb: 32px; --pl-mobile: 26px; --pr-mobile: 26px; --pt-mobile: 21px; --pb-mobile: 26px;">
            <div enablelazyloadimage="true" label="Block" tag="Col" type="component" class="gLjbK5lwQH gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="gSwEBaDNfZ">
    <div enablelazyloadimage="true" parenttag="Col" class="gSwEBaDNfZ " style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:15px;--size-mobile:13px;--lh:147%;--lh-tablet:147%;--lh-mobile:147%;--c:#695A5A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>No, the Beauty Balm is fragrance-free and free of harsh chemicals like parabens, sulfates, phthalates, mineral oil, and talc. It’s dermatologist-tested and gentle on the skin.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div class="gp-flex" style="--jc:center">
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:27px;--height-configIconSize:16px;--bs:solid;--bw:2.4px 2.4px 2.4px 2.4px;--bc:#ffffff;--bg:#FFFFFF;--shadow:none;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px">
    <div data-index="4" class="grbaMPT1xT gp-accordion-item gp-overflow-hidden gp-child-item-grbaMPT1xT" style="scrollBehavior:smooth">
      <div aria-hidden="" uid="gptimf-io9" id="gptimf-io9" data-index="4" class="grbaMPT1xT gp-accordion-item-grbaMPT1xT-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer" style="--pl:14px;--pr:14px;--pt:20px;--pb:20px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#FBF1E8;--bgc:#FBF1E8;--hvr-c:#273534;--c:#273534;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
       <style class="accordion-style">.gp-accordion-item-grbaMPT1xT-4:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span style="--hvr-c:#121212;--c:#121212;width:27px;height:27px" data-index="4" class="grbaMPT1xT gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;>svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;>svg]:!gp-w-auto"><svg data-id="555967079140819933" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
<circle cx="13.624" cy="13.8516" r="12.9466" fill="white" stroke="#2D2E31" stroke-width="0.438867"></circle>
<mask id="path-2-outside-1_101_5905" maskUnits="userSpaceOnUse" x="8.86035" y="7.73633" width="11" height="12" fill="black">
<rect fill="white" x="8.86035" y="7.73633" width="11" height="12"></rect>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z"></path>
</mask>
<path d="M19.2018 14.2903H14.9739V18.556H13.7416V14.2903H9.53268V13.1527H13.7416V8.88692H14.9739V13.1527H19.2018V14.2903Z" fill="#5A5151"></path>
<path d="M19.2018 14.2903V14.7291H19.6407V14.2903H19.2018ZM14.9739 14.2903V13.8514H14.5351V14.2903H14.9739ZM14.9739 18.556V18.9949H15.4128V18.556H14.9739ZM13.7416 18.556H13.3027V18.9949H13.7416V18.556ZM13.7416 14.2903H14.1805V13.8514H13.7416V14.2903ZM9.53268 14.2903H9.09382V14.7291H9.53268V14.2903ZM9.53268 13.1527V12.7138H9.09382V13.1527H9.53268ZM13.7416 13.1527V13.5916H14.1805V13.1527H13.7416ZM13.7416 8.88692V8.44806H13.3027V8.88692H13.7416ZM14.9739 8.88692H15.4128V8.44806H14.9739V8.88692ZM14.9739 13.1527H14.5351V13.5916H14.9739V13.1527ZM19.2018 13.1527H19.6407V12.7138H19.2018V13.1527ZM19.2018 13.8514H14.9739V14.7291H19.2018V13.8514ZM14.5351 14.2903V18.556H15.4128V14.2903H14.5351ZM14.9739 18.1172H13.7416V18.9949H14.9739V18.1172ZM14.1805 18.556V14.2903H13.3027V18.556H14.1805ZM13.7416 13.8514H9.53268V14.7291H13.7416V13.8514ZM9.97155 14.2903V13.1527H9.09382V14.2903H9.97155ZM9.53268 13.5916H13.7416V12.7138H9.53268V13.5916ZM14.1805 13.1527V8.88692H13.3027V13.1527H14.1805ZM13.7416 9.32579H14.9739V8.44806H13.7416V9.32579ZM14.5351 8.88692V13.1527H15.4128V8.88692H14.5351ZM14.9739 13.5916H19.2018V12.7138H14.9739V13.5916ZM18.7629 13.1527V14.2903H19.6407V13.1527H18.7629Z" fill="#2D2E31" mask="url(#path-2-outside-1_101_5905)"></path>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  
  <gp-text data-id="">
    <div class=" ">
      <div>
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-overflow-hidden" style="--w:100%;--ts:none;--ff:var(--g-font-Hanken-Grotesk, 'Hanken Grotesk'), var(--g-font-body, body);--weight:400;--ls:0.14px;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:164%;--lh-tablet:164%;--lh-mobile:158%;--tt:uppercase;word-break:break-word;overflow:hidden"><p>Can I use this product as a base under other makeup?</p></div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div uid="gptimf-io9" data-index="4" class="grbaMPT1xT gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div uid="gptimf-io9" data-index="4" class="grbaMPT1xT gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500" style="--pl: 32px; --pr: 32px; --pt: 25px; --pb: 32px; --pl-mobile: 26px; --pr-mobile: 26px; --pt-mobile: 21px; --pb-mobile: 26px;">
            <div enablelazyloadimage="true" label="Block" tag="Col" type="component" class="gaHkNSBGy3 gp-relative gp-flex gp-flex-col">
      
  
  <gp-text data-id="gyS4c9OiX1">
    <div enablelazyloadimage="true" parenttag="Col" class="gyS4c9OiX1 " style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="[&amp;_p]:gp-inline [&amp;_p]:after:gp-whitespace-pre-wrap [&amp;_p]:after:gp-content-['\A'] gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:15px;--size-mobile:13px;--lh:147%;--lh-tablet:147%;--lh-mobile:147%;--c:#695A5A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"><p>Absolutely! The Beauty Balm works beautifully as a lightweight base under other makeup products. Its hydrating formula helps create a smooth canvas for foundation, concealer, or powder, while still allowing your skin to breathe.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script  defer="defer" src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v=1746695611276"></script>
  
      </div>
      <style id="custom-css-grbaMPT1xT">
        .grbaMPT1xT {

}
.grbaMPT1xT .gp-accordion-item_header{
    /*column-gap: 8px !important;*/
}
@media only screen and (max-width: 767px){
   .grbaMPT1xT .gp-accordion-item_icon{
        width: 22px !important;
        height: 22px !important;
    }
   .grbaMPT1xT .gp-accordion-item_header gp-text{
        min-height: 38px !important;
        align-items: center !important;
        display: flex !important;
   }
   .grbaMPT1xT .gp-accordion-item_header{
        column-gap: 14px !important;
    }
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section></div></div>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-566615858533631057 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/t50y81-0v/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=566608311202350032&sectionId=566615858533631057)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
